<div class="thread-wide">
  <ol>
    <ng-container *ngFor="let article of articleList; let index = index">
      <li [ngClass]="{'no-photo' : !hasPhotoInFileList(article.file_list)}">
        <div>
          <figure>
            <img [src]="getPhotoInFileList(article.file_list)">
          </figure>
          <pre>{{article.title}}</pre>
          <div class="options" *ngIf="session.isAdmin || session.isArticleOwner(article.guest_id)">
            <a (click)="gotoModify(article.cid)">수정</a>
            <a (click)="removeArticle(article.cid)">삭제</a>
          </div>
        </div>
      </li>
    </ng-container>
  </ol>
  <div style="text-align: center; padding: 3rem;">
    <a #moreButton class="more" (click)="getArticleList(__boardName, currentPage+1)" appUpRiseMotion>
      <span>load more...</span>
      <i class="fonti um-angle-right"></i>
    </a>
  </div>
</div>
