.more,
.more:active,
.more:visited {
  display: inline-block;
  margin-top: .8em;
  text-decoration: none;
  color: #0070c9;
  font-size: 17px;
}

.more i {
  margin-left: 8px;
}

.thread-wide {
  width: 100%;
  margin-top: 3rem;
}

.thread-wide ol {
  margin: 0;
  padding: 0;
}

.thread-wide ol>li {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0 1vw 2vw 1vw;
  width: calc(320px - 2vw);
  height: calc(200px + 120px);
  vertical-align: top;
}

.thread-wide ol>li>div {
  white-space: normal;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  background: #CC3A46;
  color: #fff;
}

.thread-wide ol>li.no-photo>div {
  background: #EE702D;
  color: #fff;
  padding: 1rem;
}


.thread-wide ol>li>div .more {
  text-align: center;
  color: #3498db;
  font-size: 2rem;
  padding-top: calc(120px - 1rem);
}

.thread-wide ol>li>div>figure {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.thread-wide ol>li.no-photo>div>figure {
  display: none;
}

.thread-wide ol>li>div>figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.thread-wide ol>li>div pre {
  white-space: normal;
  padding: 1rem;
  margin: 0;
  line-height: 1.35;
  font-size: 17px;
}

.thread-wide ol>li.no-photo>div pre {
  font-size: 24px;
}

.thread-wide ol>li>div .options {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.thread-wide ol>li>div .options a {
  display: inline-block;
  text-decoration: none;
  color: #0070c9;
  font-size: 17px;
  margin: 8px;
}
