<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>Personal information processing policy</h1>
</div>
<div class="max-width-wrapper">
  <article class="page-introduce">
    <section>
      <p>
        사단법인 아시아교류협력센터는 개인정보 보호법 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립/공개합니다.
      </p>
      <hr>
      <ol>
        <li>
          <h3>제1조(개인정보의 처리목적)</h3>
          <p>사단법인 아시아교류협력센터(이하 ACC)는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보
            보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
          <ol>
            <li>
              <h4>1. 홈페이지 회원 가입 및 관리</h4>
              <p>회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별․인증, 회원자격 유지․관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리시
                법정대리인의 동의여부 확인, 각종 고지․통지, 고충처리 등을 목적으로 개인정보를 처리합니다.</p>
            </li>
            <li>
              <h4>
                2. 재화 또는 서비스 제공
              </h4>
              <p>물품배송, 서비스 제공, 계약서․청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증, 요금결제․정산, 채권추심 등을 목적으로 개인정보를 처리합니다.</p>
            </li>
            <li>
              <h4>
                3. 고충처리
              </h4>
              <p>민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락․통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</p>
            </li>
          </ol>
        </li>
        <li>
          <h3>제2조(개인정보의 처리 및 보유기간)</h3>
          <p>① ACC는 법령에 따른 개인정보 보유․이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.</p>
          <p>② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
          <ol>
            <li>
              <h4>1. 홈페이지 회원 가입 및 관리</h4>
              <p>사업자/단체 홈페이지 탈퇴시까지. 다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료시까지</p>
              <ol>
                <li>
                  <p>1) 관계 법령 위반에 따른 수사․조사 등이 진행중인 경우에는 해당 수사․조사 종료시까지</p>
                </li>
                <li>
                  <p>2) 홈페이지 이용에 따른 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지</p>
                </li>
              </ol>
            </li>
            <li>
              <h4>재화 또는 서비스 제공</h4>
              <p>재화․서비스 공급완료 및 요금결제․정산 완료시까지. 다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료시까지</p>
              <ol>
                <li>
                  <p>1) 「전자상거래 등에서의 소비자 보호에 관한 법률」에 따른 표시․광고, 계약내용 및 이행 등 거래에 관한 기록</p>
                  <ul>
                    <li>
                      <p>- 표시․광고에 관한 기록 : 6월</p>
                      <p>- 계약 또는 청약철회, 대금결제, 재화 등의 공급기록 : 5년</p>
                      <p>- 소비자 불만 또는 분쟁처리에 관한 기록 : 3년</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>2)「통신비밀보호법」제41조에 따른 통신사실확인자료 보관</p>
                  <ul>
                    <li>
                      <p>- 가입자 전기통신일시, 개시․종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년</p>
                    </li>
                    <li>
                      <p>- 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>3) 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」시행령 제29조에 따른 본인확인정보 보관 : 게시판에 정보 게시가 종료된 후 6개월</p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <h3>제3조(정보주체와 법정대리인의 권리․의무 및 행사방법)</h3>
          <p>① 정보주체는 ACC에 대해 언제든지 개인정보 열람․정정․삭제․처리정지 요구 등의 권리를 행사할 수 있습니다.</p>
          <p>② 제1항에 따른 권리 행사는 ACC에 대해 개인정보보호법 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, ACC는 이에 대해 지체없이 조치하겠습니다.
          </p>
          <p>③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
          </p>
          <p>④ 개인정보 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다. </p>
          <p>⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다. </p>
          <p>⑥ ACC는 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다. </p>
        </li>
        <li>
          <h3>제4조(처리하는 개인정보 항목)</h3>
          <p>ACC는 다음의 개인정보 항목을 처리하고 있습니다. </p>
          <ol>
            <li>
              <h4>1. 홈페이지 회원 가입 및 관리</h4>
              <p>․필수항목 : 성명, 생년월일, 아이디, 비밀번호, 전화번호, 성별, 이메일주소, SNS session</p>
            </li>
            <li>
              <h4>2. 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.</h4>
              <p>․IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등</p>
            </li>
          </ol>
        </li>
        <li>
          <h3>제5조(개인정보의 파기)</h3>
          <p>① ACC는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.</p>
          <p>② 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로
            옮기거나 보관장소를 달리하여 보존합니다. </p>
          <p>③ 개인정보 파기의 절차 및 방법은 다음과 같습니다. </p>
          <ol>
            <li>
              <h4>1. 파기절차</h4>
              <p>ACC는 파기 사유가 발생한 개인정보를 선정하고, ACC의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.</p>
            </li>
            <li>
              <h4>2. 파기방법</h4>
              <p>ACC는 전자적 파일 형태로 기록․저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록․저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</p>
            </li>
          </ol>
        </li>
      </ol>
    </section>
  </article>
</div>