.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.carousel .arrow {
  z-index: 500;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
}

.carousel .arrow.left {
  left: 10px;
  opacity: 0;
  transition: 0.375s;
}

.carousel .arrow.right {
  right: 10px;
  opacity: 0;
  transition: 0.375s;
}

.carousel .arrow.left.visible,
.carousel .arrow.right.visible
{
    opacity: 1;
    transition: 0.375s;
}
.carousel .arrow i{
    text-shadow: 0px 0px 5px rgba(0,0,0,0.375);
    transition: 0.375s;
}
.carousel .arrow:hover i{
    transition: 0.375s;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.875);
}

.carousel ol {
  z-index: 499;
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
  transition: 0.375s;
}

.carousel ol>li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 303px;
  height: 177px;
}

.carousel ol>li>figure {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel ol>li>figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  max-width: 110%;
  opacity: 0.875;
  transition: 0.375s;
}

.carousel ol>li>figure:hover img {
  transition: 0.375s;
  opacity: 1;
}
