<div class="carousel">
  <div class="arrow left" [ngClass]="{visible:currentIndex > 0}">
    <span (click)="slideTo('left')">
      <i class="fonti um-arrow-circle-left"></i>
    </span>
  </div>
  <div class="arrow right" [ngClass]="{visible:currentIndex !== __photoList.length - 1}">
    <span (click)="slideTo('right')">
      <i class="fonti um-arrow-circle-right"></i>
    </span>
  </div>
  <ol #photoList>
    <ng-container *ngFor="let photo of __photoList; let index = index;">
      <li>
        <figure (click)="selectPhoto(index)">
          <img [src]="photo.src">
        </figure>
      </li>
    </ng-container>
  </ol>
</div>
