:host{
    display: block;
    position: relative;
    width: 100%;
    background-color: #212327;
    padding: 1rem;
}
section{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1280px;
}
section > div{
    flex: 1;
    padding: 1rem;
}
section h2{
    font-size: 1.25rem;
    color: rgba(255,255,255,.75);
    margin: 0.2rem 0;
    font-weight: 400;
}
section strong{
    color: rgba(255,255,255,.75);
    font-size: 1.1rem;
}
section p{
    color: rgba(255,255,255,.75);
    font-size: 0.8125rem;
}
section a,
section a:link,
section a:active,
section a:visited
{
    color: rgba(255,255,255,.75);
}
.info{
    
}
.logo{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 4rem;
    opacity: 0.3;
}
.site-info a,
.site-info a:link,
.site-info a:active,
.site-info a:visited,
.site-info span
{
    color: rgba(255,255,255,.75);
    font-size: 0.8125rem;
}