<section>
  <div>
    <figure class="logo">
      <img src="/assets/image/logo-big.png">
    </figure>
    <h2>(사)아시아교류협력센터</h2>
    <strong>Asia Cooperation Center</strong>
    <p>허가번호 제2018-17호</p>
  </div>
  <div class="info">
    <p>ADDRESS : {{'info.주소' | translate}}
    </p>
    <p>TEL :
      <a href="tel:{{'info.연락처'}}">{{'info.연락처' | translate}}</a>
    </p>
    <p>FAX : {{'info.팩스' | translate}}</p>
    <p>E-MAIL :
      <a>admin@withasia.org</a>
    </p>
    <hr>
    <div class="site-info">
      <a routerLink="/article/agreement">이용약관</a>
      <span> | </span>
      <a routerLink="/article/privacy">개인정보보호방침</a>
      <span> | </span>
      <a routerLink="/article/no-email">이메일무단수집거부</a>
      </div>
    <p>ⓒCOPYRIGHTS 2018 Asia Cooperation Center ALL RIGHTS RESERVED.</p>
  </div>
</section>