<article>
  <section class="meta">
    <h2>{{article.title}}</h2>
    <div>
      <dl>
        <dt>posted by </dt>
        <dd><a>{{article.guest_name}}</a></dd>
      </dl>
      <dl>
        <dt>posted language </dt>
        <dd>{{article.lang_code}}</dd>
      </dl>
      <dl>
        <dt>posted on </dt>
        <dd>{{article.reg_date}}</dd>
      </dl>
      <dl>
        <dd>{{article.view_count}}</dd>
        <dt>views</dt>
      </dl>
    </div>
  </section>
  <section class="uploaded-files">
    <strong>{{'board.첨부파일' | translate}}</strong>
    <ul>
      <li *ngFor="let ufile of article.file_list">
        <span class="filename">
          <a download="{{ufile.filename}}" [href]="apiURL + '/board/file/' + ufile.id">{{ufile.filename}}</a>
        </span>
        <span class="filesize">
          {{ufile.filesize_mb}}mb
        </span>
      </li>
      <li *ngIf="article.file_list.length == 0">
        <strong>Uploaded file is not exist.</strong>
      </li>
    </ul>
  </section>
  <section class="description">
    <div class="photo-viewer">
      <ng-container *ngFor="let ufile of article.file_list">
      <figure *ngIf="isPhoto(ufile.filetype)">
        <img [src]="apiURL + '/board/file/' + ufile.id">
      </figure>
      </ng-container>
    </div>
    <pre class="ql-editor ql-container preview" [innerHTML]="article.description | safeHtml"></pre>
  </section>
  <div class="social-options">
    <div #fbShareButton class="fb-share-button" data-href="" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="" class="fb-xfbml-parse-ignore">공유하기</a></div>
  </div>
  <section class="reply-list" #fbComments>
    <fb-comments [href]="url_for_reply" [numposts]="10" [width]="'100%'"></fb-comments>
  </section>
</article>
<div class="options">
  <div>
    <button mat-button (click)="gotoPrev()">{{'board.이전' | translate}}</button>
    <button mat-button (click)="gotoNext()">{{'board.다음' | translate}}</button>
    <button mat-button (click)="gotoIndex()">{{'board.목록으로' | translate}}</button>
  </div>
  <div class="flex-spacer"></div>
  <div>
    <button *ngIf="session.isAdmin || session.isArticleOwner(article.guest_id)" mat-button [color]="'primary'" (click)="gotoModify()">{{'board.수정' | translate}}</button>
    <button *ngIf="session.isAdmin || session.isArticleOwner(article.guest_id)" mat-button [color]="'warn'" (click)="removeArticle()">{{'board.삭제' | translate}}</button>
  </div>
</div>