:host{
    position: relative;
    display: block;
    padding-top: 64px;
}
.board-options{
    width: calc(100% - 28px);
    margin: 14px;
    text-align: right;
}
.meta{
    margin-top: 1rem;
    border-bottom: 2px solid #888;
}
.meta h2{
    margin: 0.5rem;
    padding: 0;
}
.meta dl{
    display: inline-block;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.meta dt{
    display: inline-block;
    color: #AAA;
    margin: 0;
    padding: 0.5rem;
}
.meta dd{
    display: inline-block;
    font-weight: 700;
    color: #888;
    margin: 0;
    padding: 0.5rem;
}
.uploaded-files strong{
    display: block;
    margin: 0.5rem;
    font-size: 14px;
    font-weight: 400;
}
.uploaded-files ul{
    margin: 0.5rem;
    padding: 0;
    list-style: none;
    /* background-color: rgba(0,0,0,0.05); */
}
.uploaded-files ul > li{
    display: block;
    overflow: hidden;
    margin: 0.25rem;
    border-bottom: 1px dashed #999;
    padding: 0.25rem;
}
.uploaded-files ul > li .filename{
    display: inline-block;
    font-size: 0.875rem;
    color: #888;
    float: left;
    width: calc(100% - 3rem);
}
.uploaded-files ul > li .filesize{
    display: inline-block;
    font-size: 0.875rem;
    color: #777;
    float: left;
    width: 3rem;
}
.description{
    position: relative;
    padding: 0.5rem;
    border-bottom: 2px solid #888;
}
.description pre{
    width: 100%;
    padding: 0.5rem 0;
    white-space: normal;
    overflow-x: hidden;
}
.reply-list{
    padding: 0.5rem;
    border-bottom: 2px solid #888;
    margin: 0.5rem 0;
}
.options{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.options button{
    margin: 5px;
}
.flex-spacer{
    flex-grow: 1;
}
.photo-viewer{
    width: 98%;
    margin: 1% 1rem;
}
.photo-viewer figure{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.photo-viewer figure img{
    max-width: 100%;
}
.social-options{
    padding: 1rem;
    text-align: right;
}