<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{'navbar.메뉴.CONTACTUS' | translate}}</h1>
</div>
<div class="max-width-wrapper">
  <article class="page-introduce">
    <section>
      <h2>{{'article.contactUs.welcome' | translate}}</h2>
      <p [innerHTML]="'article.contactUs.first' | translate"></p>
      <p [innerHTML]="'article.contactUs.second' | translate"></p>
    </section>
  </article>
  <mat-card>
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Please input your email address for answer</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Title" [formControl]="titleFormControl">
      </mat-form-field>

      <mat-form-field class="textarea">
        <textarea #descriptionInput matInput placeholder="Leave a comment" [formControl]="descriptionFormControl"></textarea>
      </mat-form-field>

      <div class="options">
        <button mat-raised-button [color]="'primary'" (click)="doSubmit($event)">Submit</button>
      </div>
    </form>
  </mat-card>
</div>
