:host {
  position: relative;
  display: block;
  padding-top: 64px;
}

mat-card {
  max-width: 640px;
  width: 100%;
  margin: 1rem auto;
}

section {
  text-align: center;
}

h2 {
  font-size: 48px;
  line-height: 1.1875;
  letter-spacing: 0em;
  color: #111;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

p {
  word-break: keep-all;
  margin-top: .8em;
  line-height: 1.61765;
  text-align: center;
  font-size: 17px;
}

form {}

form mat-form-field {
  width: 100%;
  margin: 0.5rem 0;
}

form mat-form-field textarea {
  height: 15rem;
}

form .options {
  text-align: right;
}

.page-introduce {
  font-size: 1.2rem;
  line-height: 1.7;
}

.page-introduce strong {
  display: block;
  padding: 2rem 0;
  font-size: 3rem;
}

.page-introduce figure {
  margin: 1rem auto;
  padding: 0;
}

.page-introduce figure img {
  width: 280px;
}

.page-introduce section:first-child {
  margin-bottom: 3rem;
}
