<div class="carousel" #carousel>
  <div class="slide">
    <ol #carouselSlide>
      <ng-container *ngFor="let slide of __slideTemplateRef; let index = index;">
        <li>
          <ng-template #slideContainer></ng-template>
        </li>
      </ng-container>
    </ol>
  </div>
  <div class="fixed-area">
    <ng-container *ngFor="let fixedSlide of __fixedSlideTemplateRef; let index = index;">
      <ng-template #fixedContainer *ngIf="!allowFixedSlide || __currentIndex == index"></ng-template>
    </ng-container>
  </div>
  <div class="options">
    <div class="navi" *ngIf="__rgCarouselFactory.navigationVisible">
      <ol>
        <ng-container *ngFor="let slide of __slideTemplateRef; let index = index;">
          <li [ngClass]="{active : index == __currentIndex}" (click)="moveTo(index)">
            <span></span>
          </li>
        </ng-container>
      </ol>
    </div>
    <div class="arrow" *ngIf="__rgCarouselFactory.arrowVisible" [style.top]="__rgCarouselFactory.arrowPosition.top">
      <div class="left" (click)="moveTo(__currentIndex-1)" [style.left]="__rgCarouselFactory.arrowPosition.left">
        <span>
          <i class="fonti um-arrow-right"></i>
        </span>
      </div>
      <div class="right" (click)="moveTo(__currentIndex+1)" [style.right]="__rgCarouselFactory.arrowPosition.right">
        <span>
          <i class="fonti um-arrow-left"></i>
        </span>
      </div>
    </div>
  </div>
</div>
