<nav class="docs-navbar-header" #navHeader>
  <a routerLink="/">
    <img class="logo" src="/assets/image/logo-big.png">
  </a>
  <div class="flex-spacer on-mobile"></div>
  <a (click)="showNavi()" class="hamburger-button on-mobile">
    <i class="fonti" [ngClass]="{'um-navicon' : !isNaviShowing, 'um-close' : isNaviShowing}"></i>
  </a>

  <div class="on-mobile-wrapper" *ngIf="isNaviShowing">
    <div class="navi" #navi>
      <!-- <mat-menu #introMenu="matMenu">
        <a mat-menu-item routerLink="/article/purpose">{{'navbar.메뉴.설립취지' | translate}}</a>
        <a mat-menu-item routerLink="/article/structure">{{'navbar.메뉴.사업체계' | translate}}</a>
        <a mat-menu-item routerLink="/article/organization">{{'navbar.메뉴.조직체계' | translate}}</a>
        <a mat-menu-item routerLink="/article/be-with">{{'navbar.메뉴.참여방법' | translate}}</a>
        <a mat-menu-item routerLink="/article/contact-us">{{'navbar.메뉴.CONTACTUS' | translate}}</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="introMenu">
        {{'navbar.메뉴.소개' | translate}}
      </button> -->

      <!-- <button mat-button routerLink="/">{{'navbar.메뉴.소개' | translate}}</button> -->
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="changeLang('en')">English</button>
        <button mat-menu-item (click)="changeLang('ko')">한국어</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="langMenu">
        {{'navbar.메뉴.언어' | translate}}
      </button>

      <a mat-button routerLink="/article/purpose">{{'navbar.메뉴.사업체계' | translate}}</a>
      <a mat-button routerLink="/article/contact-us">{{'navbar.메뉴.참여방법' | translate}}</a>
      <a mat-button href="/article/structure">{{'navbar.메뉴.주요사업' | translate}}</a>
      <a mat-button href="/board/accnow">ACC Now</a>
      <mat-menu #boardMenu="matMenu">
        <a mat-menu-item [matMenuTriggerFor]="submenu1">아시아</a>
        <a mat-menu-item [matMenuTriggerFor]="submenu2">국가별</a>
      </mat-menu>
      <mat-menu #submenu1="matMenu">
        <a mat-menu-item routerLink="/board/ref_apecaiib">APEC,AIIB</a>
        <a mat-menu-item routerLink="/board/ref_asiabasic">아시아 기본정보</a>
        <a mat-menu-item routerLink="/board/ref_asiacommon">아시아 공통</a>
        <a mat-menu-item routerLink="/board/ref_oda">ODA</a>
      </mat-menu>
      <mat-menu #submenu2="matMenu">
        <a mat-menu-item routerLink="/board/ref_ko">한국</a>
        <a mat-menu-item routerLink="/board/ref_jp">일본</a>
        <a mat-menu-item routerLink="/board/ref_cn">중국</a>
        <a mat-menu-item routerLink="/board/ref_my">말레이시아</a>
        <a mat-menu-item routerLink="/board/ref_th">태국</a>
        <a mat-menu-item routerLink="/board/ref_vn">베트남</a>
        <a mat-menu-item routerLink="/board/ref_ph">필리핀</a>
        <a mat-menu-item routerLink="/board/ref_sg">싱가포르</a>
        <a mat-menu-item routerLink="/board/ref_id">인도네시아</a>
        <a mat-menu-item routerLink="/board/ref_kh">캄보디아</a>
        <a mat-menu-item routerLink="/board/ref_mm">미얀마</a>
        <a mat-menu-item routerLink="/board/ref_la">라오스</a>
        <a mat-menu-item routerLink="/board/ref_kp">북한</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="boardMenu">
        {{'navbar.메뉴.자료실' | translate}}
      </button>
      <a mat-button href="/board/photo">{{'navbar.메뉴.활동모습' | translate}}</a>
      <a mat-button href="/board/news">{{'navbar.메뉴.언론보도' | translate}}</a>
      <a mat-button href="/board/notice">{{'navbar.메뉴.공지사항' | translate}}</a>

      <!-- <mat-menu #commuMenu="matMenu">
        <a mat-menu-item routerLink="/board/notice">{{'navbar.메뉴.공지사항' | translate}}</a>
        <a mat-menu-item routerLink="/board/activity">{{'navbar.메뉴.활동' | translate}}</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="commuMenu">
        {{'navbar.메뉴.게시판' | translate}}
      </button> -->

      <!-- <button mat-button routerLink="/board/news">{{'navbar.메뉴.언론보도' | translate}}</button> -->

      <!-- <mat-menu #feedMenu="matMenu">
        <a mat-menu-item routerLink="/board/pressrelease">{{'navbar.메뉴.보도자료' | translate}}</a>
        <a mat-menu-item routerLink="/board/news">{{'navbar.메뉴.언론보도' | translate}}</a>
        <a mat-menu-item routerLink="/board/photo">{{'navbar.메뉴.활동모습' | translate}}</a>
        <a mat-menu-item routerLink="/board/newsletter">{{'navbar.메뉴.뉴스레터' | translate}}</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="feedMenu">
        {{'navbar.메뉴.미디어' | translate}}
      </button> -->
    </div>

    <div class="flex-spacer on-desktop"></div>
    <hr class="on-mobile">
    <div class="socials">
      <a href="https://fb.me/acc.withasia" target="_blank">
        <i class="fonti um-facebook-square" style="color:#4267b2"></i>
      </a>
    </div>
    <div class="options" #options>
      <button mat-raised-button [color]="'primary'" (click)="openLoginDialog()" *ngIf="!session.commonSession">
        Login
      </button>
      <button mat-button (click)="logout()" *ngIf="session.commonSession">
        Logout
      </button>

      <!-- <button mat-button routerLink="/sitemap">
        {{'navbar.메뉴.사이트맵' | translate}}
      </button> -->
    </div>
  </div>
</nav>
