:host{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
    /* color: #fff; */
    color: #000;
    height: 64px;
}
.logo{
    width: 4rem;
}
.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.docs-navbar-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 100%;
    /* background: #3f51b5; */
    background-color: rgba(255,255,255,.8);
}
.navi{
    margin: 0 1rem;
}
.hamburger-button{
    text-align: center;
    font-size: 2rem;
    color: #333;
}
.flex-spacer{
    flex-grow: 1;
}
.options{
    /* color: #fff; */
    color: #000;
    margin: 0 1rem;
}
.options a{
    /* color: #fff; */
    color: #000;
    display: inline-block;
}
.on-mobile-wrapper{
    display: flex;
    flex: 1;
    align-items: center;
}
@media (max-width: 960px){
    .on-mobile-wrapper{
        display: block;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 3%;
        transition: 0.375s;
    }
    .on-mobile-wrapper > div{
        margin: 0;
    }
}
.socials{
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    vertical-align: text-top;
}
.socials a{
    display: inline-block;
    font-size: 2.4rem;
}