<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{'navbar.메뉴.참여방법' | translate}}</h1>
</div>
<div class="max-width-wrapper">
  <article class="page-introduce">
    <section>
      <p>(사)아시아교류협력센터는 산업자원통상부에 등록된 비영리사단법인(허가번호 제 2018-17호)으로서 아시아 국가들의 공생공영을 위해 산업기술, 통상, 공공복지, 문화 등 다양한 분야의 사업에 함께 참여할
        전문가 여러분들을 기다리고 있습니다.
        <br> 개인과 단체, 기업회원으로 참여 가능하며, 본 센터의 취지에 공감하시는 분들은 자문위원 및 전문위원, 일반회원, 후원회원 등 다양한 형태로 참여하실 수 있습니다.
      </p>
    </section>
    <section>
      <p>ADDRESS. {{'info.주소' | translate}}</p>
      <p>TEL. {{'info.연락처' | translate}}</p>
      <p>FAX. {{'info.팩스' | translate}}</p>
      <p>E-MAIL. admin@withasia.org</p>
    </section>
  </article>
</div>