:host{
    position: relative;
    display: block;
    padding-top: 64px;
}
.page-introduce{
    font-size: 1.2rem;
    line-height: 1.7;
}
.page-introduce strong{
    display: block;
    padding: 2rem 0;
    font-size: 3rem;
}
.page-introduce figure{
    margin: 1rem auto;
    padding: 0;
}
.page-introduce figure img{
    width: 280px;
}
.page-introduce section:first-child{
    margin-bottom: 3rem;
}