<form>
  <strong>{{'login.안내1' | translate}}</strong>
  <p>{{'login.안내2' | translate }}</p>
  <hr>
  <a class="sns-login-button" (click)="facebookLogin()">
    <img src="/assets/image/facebook-login.png">
  </a>
  <hr>
  <mat-checkbox [(ngModel)]="agree" [ngModelOptions]="{standalone: true}">
    {{'login.동의' | translate}}
  </mat-checkbox>
</form>