<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{'navbar.메뉴.사이트맵' | translate}}</h1>
</div>
<div class="max-width-wrapper">
  <article>
    <section>
      <dl>
        <dt>introduction</dt>
        <hr>
        <dd>
          <a>welcome</a>
        </dd>
        <dd>
          <a>center introduction</a>
        </dd>
        <dd>
          <a>contact us</a>
        </dd>
        <dd>
          <a>address</a>
        </dd>
      </dl>
      <dl>
        <dt>community</dt>
        <hr>
        <dd>
          <a>board</a>
        </dd>
        <dd>
          <a>board</a>
        </dd>
        <dd>
          <a>board</a>
        </dd>
      </dl>
      <dl>
        <dt>infomation</dt>
        <hr>
        <dd>
          <a>notice</a>
        </dd>
        <dd>
          <a>briefying</a>
        </dd>
        <dd>
          <a>social media</a>
        </dd>
        <dd>
          <a>data center</a>
        </dd>
      </dl>
    </section>
  </article>
</div>