:host {
  position: relative;
  display: block;
  padding-top: 64px;
}

h2 {
  font-size: 48px;
  line-height: 1.1875;
  letter-spacing: 0em;
  color: #111;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

p {
  word-break: keep-all;
  margin-top: .8em;
  line-height: 1.61765;
  text-align: center;
  font-size: 17px;
}

ol {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 3.17647em;
}

ol>li {
  vertical-align: bottom;
  margin: 6px;
  padding: 1rem;
  list-style: none;
  display: inline-block;
  width: calc(100% - 12px);
  background-color: #fafafa;
  text-align: center;
  position: relative;
}

ol>li .icon {
  display: block;
  max-width: 90px;
  height: 70px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

ol>li .icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

ol>li.clicked .icon img:nth-child(2) {
  opacity: 1;
  transition: 0.375s;
}

ol>li h3 {
  position: relative;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding: 9px 0 11px;
  margin-top: 2px;
  margin-bottom: 4px;
  color: #888;
}

ol>li.clicked h3 {
  color: #111;
}

article h3 {
  text-align: center;
  line-height: 1.29167;
  font-size: 24px;
  color: #111;
  font-weight: 600;
  letter-spacing: .009em;
}
