<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{'navbar.메뉴.사업체계' | translate}}</h1>
</div>
<div class="max-width-wrapper">
  <div class="tabnav">
    <ol>
      <li class="clicked">
        <div>
          <figure class="icon">
            <img src="assets/image/am.png">
          </figure>
        </div>
        <article>
          <div class="article-wrap first">
            <div class="article-content">
              <h3 [innerHTML]="'index.section2.주요사업계획.사업계획1.제목' | translate"></h3>
              <p [innerHTML]="'index.section2.주요사업계획.사업계획1.내용' | translate"></p>
            </div>
          </div>
        </article>
      </li>
      <li class="clicked">
        <div>
          <figure class="icon">
            <img src="assets/image/ne.png">
          </figure>
        </div>
        <article>
          <div class="article-wrap second">
            <div class="article-content">
              <h3 [innerHTML]="'index.section2.주요사업계획.사업계획2.제목' | translate"></h3>
              <p [innerHTML]="'index.section2.주요사업계획.사업계획2.내용' | translate"></p>
            </div>
          </div>
        </article>
      </li>
      <li class="clicked">
        <div>
          <figure class="icon">
            <img src="assets/image/in.png">
          </figure>
        </div>
        <article>
          <div class="article-wrap third">
            <div class="article-content">
              <h3 [innerHTML]="'index.section2.주요사업계획.사업계획3.제목' | translate"></h3>
              <p [innerHTML]="'index.section2.주요사업계획.사업계획3.내용' | translate"></p>
            </div>
          </div>
        </article>
      </li>
      <li class="clicked">
        <div>
          <figure class="icon">
            <img src="assets/image/ha.png">
          </figure>
        </div>
        <article>
          <div class="article-wrap fourth">
            <div class="article-content">
              <h3 [innerHTML]="'index.section2.주요사업계획.사업계획4.제목' | translate"></h3>
              <p [innerHTML]="'index.section2.주요사업계획.사업계획4.내용' | translate"></p>
            </div>
          </div>
        </article>
      </li>
      <li class="clicked">
        <div>
          <figure class="icon">
            <img src="assets/image/pl.png">
          </figure>
        </div>
        <article>
          <div class="article-wrap fifth">
            <div class="article-content">
              <h3 [innerHTML]="'index.section2.주요사업계획.사업계획5.제목' | translate"></h3>
              <p [innerHTML]="'index.section2.주요사업계획.사업계획5.내용' | translate"></p>
            </div>
          </div>
        </article>
      </li>
    </ol>
  </div>
</div>
