<div id="layer-popup">
  <div class="wrapper">
    <div class="menu">
      <div class="title">{{article.title}}</div>
      <button (click)="close()">
        <i class="fonti um-close"></i>
      </button>
    </div>
    <div class="viewer">
      <div class="photo-viewer">
        <ng-container *ngFor="let ufile of article.file_list">
          <figure *ngIf="isPhoto(ufile.filetype)">
            <img [src]="apiURL + '/board/file/' + ufile.id">
          </figure>
        </ng-container>
      </div>
      <pre class="ql-editor ql-container preview" [innerHTML]="article.description | safeHtml"></pre>
    </div>
    <div class="detail">
      <p>
        <input type="checkbox" (click)="hide()">
        <span>hide this popup during 1day.</span>
      </p>
      <a [routerLink]="['/board', 'notice', 'article', article.cid]">more view</a>
    </div>
  </div>
</div>
