#layer-popup {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 90%;
  max-height: calc(90% - 64px);
  z-index: 9999;
}

.wrapper {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.wrapper .menu {
  width: 100%;
  height: 30px;
  background-color: #fafafa;
}

.wrapper .menu .title {
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  float: left;
  padding: 8px;
}

.wrapper .menu button {
  float: right;
  background-color: #111;
  color: #fff;
  box-shadow: none;
  border: none;
  height: 25px;
  width: 25px;
  margin: 2.5px;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.wrapper .viewer {
  /* width: 640px;
    height: 640px; */
  max-width: 100%;
  width: 100%;
  max-height: calc(100% - 30px - 60px);
  overflow-y: scroll;
}

.wrapper .viewer pre {
  white-space: normal;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
}

.wrapper .detail {
  background-color: #fafafa;
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 8px;
  font-size: 0.875rem;
}

.detail>p {
  margin: 0;
  padding: 0;
}

.detail>a {
  display: inline-block;
  margin-top: 0.5rem;
}

.photo-viewer {
  width: 100%;
  margin: 0;
}

.photo-viewer figure {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
  position: relative;
  width: 100%;
}

.photo-viewer figure img {
  width: 100%;
  max-width: 100%;
}
