<ul class="article-list" *ngIf="articleList.length > 0">
  <ng-container *ngFor="let feed of articleList; let index = index;">
    <li>
      <ng-container *ngIf="boardType == 'feed'">
        <app-rg-feed [url]="feed.title" [article]="feed"></app-rg-feed>
      </ng-container>
      <ng-container *ngIf="boardType == 'photo'">
        <app-rg-feed [article]="feed"></app-rg-feed>
      </ng-container>
    </li>
  </ng-container>
</ul>
<p *ngIf="articleList.length === 0">There is no contents.</p>
<mat-paginator [pageSize]="10" [length]="articleTotalCount" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
