
.article-list{
    position: relative;
    margin: 0;
    margin-right: -8px;
    padding: 0;
    min-height: calc(100% - 6rem);
    padding-top: 8px;
    overflow: hidden;
}
.article-list > li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0;
    vertical-align: middle;
    float: left;
}
