<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{'navbar.메뉴.조직체계' | translate}}</h1>
</div>
<div class="max-width-wrapper">
  <section *ngIf="currentLang == 'ko'">
    <h3>이사/감사</h3>
    <dl>
      <dt>
        <span class="name">차상근</span>
      </dt>
      <dd>
        <span class="position">대표, 전 파이낸스뉴스 북경특파원</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">김미정</span>
      </dt>
      <dd>
        <span class="position">약사, 1급사회복지사</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">박가람</span>
      </dt>
      <dd>
        <span class="position">다이노랩 대표</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">이성원</span>
      </dt>
      <dd>
        <span class="position">공인회계사</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">장필호</span>
      </dt>
      <dd>
        <span class="position">차의과대 산학협력단 부단장, 전 산업기술진흥원 본부장</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">나규동</span>
      </dt>
      <dd>
        <span class="position">한국생물산업기계학회 이사, 농업기계공학 박사</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">김은호</span>
      </dt>
      <dd>
        <span class="position">국가과학기술연구회 이사, 사회심리학박사</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">윤경태</span>
      </dt>
      <dd>
        <span class="position">그린닥터스 이사, 개성공단 남북협력병원추진위 사무총장</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">이동욱</span>
      </dt>
      <dd>
        <span class="position">신한금융투자 고문</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">김종환</span>
      </dt>
      <dd>
        <span class="position">세계한인무역협회(OKTA) 미얀마지회 지회장</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">박방수</span>
      </dt>
      <dd>
        <span class="position">세계한인무역협회 싱가포르지회 부회장</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">조휘택</span>
      </dt>
      <dd>
        <span class="position">브릿지과학기술협동조합 대표</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">이한우</span>
      </dt>
      <dd>
        <span class="position">NEOPIS(주) 대표</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">박석훈</span>
      </dt>
      <dd>
        <span class="position">(전) 하나금융투자 부사장</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">김영철</span>
      </dt>
      <dd>
        <span class="position">(주)투헬퍼스 대표</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">마호영</span>
      </dt>
      <dd>
        <span class="position">목사, (전) 굿네이버스 니제르 대표</span>
      </dd>
    </dl>
    <!-- 
  <h3>지도자문위원</h3>
  <dl>
    <dt>
      <span class="name">안현호</span>
    </dt>
    <dd>
      <span class="position">산업기술대학교 총장, 전 산업통상자원부 차관</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">김두영</span>
    </dt>
    <dd>
      <span class="position">KOTRA 이사/혁신성장본부 본부장</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">허남용</span>
    </dt>
    <dd>
      <span class="position">자동차부품연구원장, 前 국가기술표준원장</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">양영태</span>
    </dt>
    <dd>
      <span class="position">법무법인 지평 대표변호</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">강태혁</span>
    </dt>
    <dd>
      <span class="position">한경대교수, 전 한국은행 감사</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">이준동</span>
    </dt>
    <dd>
      <span class="position">파인하우스필름/나우필름 대표</span>
    </dd>
  </dl> -->
    <h3>연구팀</h3>
    <dl>
      <dt>
        <span class="name">이형신</span>
      </dt>
      <dd>
        <span class="position"></span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">이병일</span>
      </dt>
      <dd>
        <span class="position"></span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">이연희</span>
      </dt>
      <dd>
        <span class="position"></span>
      </dd>
    </dl>
  </section>
  <section *ngIf="currentLang == 'en'">
    <h3>Directors/Audit</h3>
    <dl>
      <dt>
        <span class="name">Sanggeun, Cha</span>
      </dt>
      <dd>
        <span class="position">Former Finance News correspondent to Beijing</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Mijeong, Kim</span>
      </dt>
      <dd>
        <span class="position">a Pharmacist, a Social worker (1st level certificate)</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Garam, Park</span>
      </dt>
      <dd>
        <span class="position">Representative of DinoLab co. Ltd</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Sungwon, Lee</span>
      </dt>
      <dd>
        <span class="position">a Certified Public Accountant</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Pilho, Jang</span>
      </dt>
      <dd>
        <span class="position">Professor, Depart of Business Intelligence, Vice-President, Industry Academic Cooperation Foundation of the CHA UNIVERSITY, Former General manager of Korea Institute for Advancement of Technology</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Gyudong, Na</span>
      </dt>
      <dd>
        <span class="position">Director of the National Society of Biological Industry and Machinery, Republic of korea,  Ph.D. in Agricultural machinery engineering</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Eunho, Kim</span>
      </dt>
      <dd>
        <span class="position">Director of the National Science and Technology Research Society, Republic of korea,  Ph.D. in Social Psychology</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Kyungtae, Yoon</span>
      </dt>
      <dd>
        <span class="position">Director of GREEN DOCTORS, General Secretary of the Inter-Korean Cooperation Hospital of KAESONG INDUSTRIAL COMPLEX</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Dongwook, LEE</span>
      </dt>
      <dd>
        <span class="position">Investment Advisor of SHINHAN FINANCIAL</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Jonghwan, Kim</span>
      </dt>
      <dd>
        <span class="position">Myanmar branch president of the World federation of Overseas Korea Traders Association</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Bangsoo, Park</span>
      </dt>
      <dd>
        <span class="position">Representative of Asian Business Center</span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Huitaek, Jo</span>
      </dt>
      <dd>
        <span class="position">Representative of Bridge science and technology cooperative</span>
      </dd>
    </dl>
    <dl>
        <dt>
            <span class="name">Hanwoo, Lee</span>
          </dt>
          <dd>
            <span class="position">Representative of NEOPIS Corp.</span>
          </dd>
        </dl>

        <dl>
          <dt>
            <span class="name">Soekhoon, Park</span>
          </dt>
          <dd>
            <span class="position">Former Hana Financial investment Vice-President</span>
          </dd>
        </dl>

        <dl>
          <dt>
            <span class="name">Yeongchul, Kim</span>
          </dt>
          <dd>
            <span class="position">Representative of Two Helpers Corp.</span>
          </dd>
        </dl>

        <dl>
          <dt>
            <span class="name">HoYeong, Ma</span>
          </dt>
          <dd>
            <span class="position">Minister, Former Niger Representative of GoodNeighbers</span>
          </dd>
        </dl>
    <!-- 
  <h3>지도자문위원</h3>
  <dl>
    <dt>
      <span class="name">안현호</span>
    </dt>
    <dd>
      <span class="position">산업기술대학교 총장, 전 산업통상자원부 차관</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">김두영</span>
    </dt>
    <dd>
      <span class="position">KOTRA 이사/혁신성장본부 본부장</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">허남용</span>
    </dt>
    <dd>
      <span class="position">자동차부품연구원장, 前 국가기술표준원장</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">양영태</span>
    </dt>
    <dd>
      <span class="position">법무법인 지평 대표변호</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">강태혁</span>
    </dt>
    <dd>
      <span class="position">한경대교수, 전 한국은행 감사</span>
    </dd>
  </dl>
  <dl>
    <dt>
      <span class="name">이준동</span>
    </dt>
    <dd>
      <span class="position">파인하우스필름/나우필름 대표</span>
    </dd>
  </dl> -->
    <h3>Research team</h3>
    <dl>
      <dt>
        <span class="name">Hyeongsin, Lee</span>
      </dt>
      <dd>
        <span class="position"></span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">Byeongil, Lee</span>
      </dt>
      <dd>
        <span class="position"></span>
      </dd>
    </dl>
    <dl>
      <dt>
        <span class="name">YeonHui, Lee</span>
      </dt>
      <dd>
        <span class="position"></span>
      </dd>
    </dl>
  </section>
</div>
