:host{
    position: relative;
    display: block;
    padding-top: 64px;
}
section{
    text-align: center;
    padding: 3rem 0.5rem;
}
.orga-img{
    display: inline-block;
    width: 100%;
}
.orga-img img{
    max-width: 100%;
}
h2{
    font-size: 4rem;
    color: #3498db;
    margin: 2rem;
    padding: 2rem;
    border-bottom: 2px solid #3498db;
    font-weight: 300;
}
h3 {
    font-size: 2rem;
    color: #111;
    margin: 1rem;
    margin-top: 5rem;
    width: calc(100% - 2rem);
  }
  
dl {
    width: calc(33.333333% - 2rem);
    display: inline-block;
    margin: 1rem;
    padding: 0;
    vertical-align: top;
  }
  
dl dt {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: #444;
  }
  
dl dd {
    font-size: 1.2rem;
    margin: 0;
    color: #888;
  }
  