<mat-card class="article-writer">
  <mat-card-title>{{'board.게시글작성' | translate}}</mat-card-title>
  <mat-card-subtitle>
    <mat-form-field class="article-title">
      <input matInput type="text" [(ngModel)]="article.title" placeholder="{{'board.제목작성칸안내' | translate}}">
      <mat-error *ngIf="!article.title">
        {{'board.제목미작성안내' | translate}}
      </mat-error>
    </mat-form-field>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field class="lang-code-select">
      <mat-select placeholder="{{'board.언어선택안내' | translate}}" [(value)]="article.lang_code">
        <mat-option value="en">English</mat-option>
        <mat-option value="ko">한국어</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="session.isAdmin">
    <div class="checkboxes">
      <mat-checkbox [(ngModel)]="article.is_notice">이 글을 공지로 지정</mat-checkbox>
    </div>
    </ng-container>
    <ng-container *ngIf="session.isAdmin">
    <div class="checkboxes">
      <mat-checkbox [(ngModel)]="article.popup">이 글을 팝업으로 노출합니다</mat-checkbox>
    </div>
    </ng-container>
    <app-rg-file-uploader (onFileUploadComplete)="article.file_list = $event" [uploadedFileList]="article.file_list"></app-rg-file-uploader>
    <!-- use with ngModel -->
    <quill-editor [(ngModel)]="article.description" [options]="editorOptions" (blur)="onEditorBlured($event)" (focus)="onEditorFocused($event)"
      (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
    <div class="checkboxes">
      <mat-checkbox [(ngModel)]="article.in_private">{{'board.비공개게시물지정안내' | translate}}</mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button (click)="previewArticle()">{{'board.미리보기' | translate}}</button>
    <button mat-button (click)="cachingArticle()">{{'board.임시저장' | translate}}</button> -->
    <button mat-flat-button (click)="onSubmit()">{{'board.작성등록' | translate}}</button>
  </mat-card-actions>
</mat-card>