mat-card{
  margin: 5px;
}
mat-card-actions{
  text-align: right;
}
.article-writer .article-title{
    width: 100%;
}
.article-viewer mat-card-content{
  padding-top: 16px;
}
.checkboxes{
  padding-top: 0.5rem;
}
.lang-code-select{
  width: 50%;
}