<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>refusal to collect e-mails</h1>
</div>
<div class="max-width-wrapper">
  <article class="page-introduce">
    <section>
      <p>(사)아시아교류협력센터는 회원에게 무차별적으로 보내지는 타사의 메일을 차단하기 위해, 본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반할 시 정보통신망법에 의거 형사처벌됩니다.
      </p>
    </section>
  </article>