:host {
  position: relative;
  display: block;
  padding-top: 64px;
}

.page-introduce {
  font-size: 1.2rem;
  line-height: 1.7;
}

.page-introduce strong {
  display: block;
  padding: 2rem 0;
  font-size: 3rem;
}

.page-introduce figure {
  margin: 1rem auto;
  padding: 0;
}

.page-introduce figure img {
  width: 280px;
}

.page-introduce section:first-child {
  margin-bottom: 3rem;
}

.page-introduce section p {
  font-size: 1.2rem;
  line-height: 1.7;
}

section{
  display: inline-block;
  margin: 1rem auto;
  width: 50%;
  max-width: 640px;
  vertical-align: top;
  padding: 0.5rem;
}

@media all and (max-width: 960px){
  section{
    width: 100%;
    max-width: 100%;
  }
}

section h2{
  padding-left: 1rem;
  border-left: 3px solid #3498db;
  background-color: #e9eff3;
  color: #3498db;
}
section h3{
  padding-left: 2rem;
}
section h2+p{
  color: #3498db;
}
section ul{
  margin-left: 2rem;
}