<!-- <div class="side-nav-bar on-desktop">
  <mat-nav-list dense role="navigation">
    <a mat-list-item routerLink="/article/purpose">{{'navbar.메뉴.설립취지' | translate}}</a>
    <a mat-list-item routerLink="/article/contact-us">{{'navbar.메뉴.참여방법' | translate}}</a>
    <a mat-list-item routerLink="/article/structure">{{'navbar.메뉴.주요사업' | translate}}</a>
  </mat-nav-list>
</div> -->
<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1 *ngIf="currentLang == 'ko'">사업 추진경과 및 계획</h1>
  <h1 *ngIf="currentLang == 'en'">Project Progress and Planning</h1>
</div>
<div class="max-width-wrapper">
  <article class="page-introduce" *ngIf="currentLang == 'ko'">
    <section>
      <h2>학술연구/기획홍보위원회</h2>
      <p>ㅡ ACC세미나 운영, 전문가포럼, 연구조사, 홈페이지, 사업기획</p>
      <h3>ACC 세미나</h3>
      <ul>
        <li>
          <p>제1회: 한민족 DNA와 대한민국의 미래 -김석동 전 금융감독위원장: 6.4</p>
        </li>
        <li>
          <p>제2회: 김정은시대 북한경제 현황 –임을출 경남대 북한대학원교수: 9.12</p>
        </li>
        <li>
          <p>제3회: 북한의 과학기술 –변학윤박사 북한과학연구원 : 11.20</p>
        </li>
      </ul>
      <h3>아시아 지역이슈 공동연구</h3>
      <ul>
        <li>
          <p>신남방정책에 따른 테크노파크의 아시아 수출전략 연구 : KIAT</p>
        </li>
        <!-- <li>
          <p>개도국 표준체계 협력사업의 신규협력모델 및 콘텐츠 개발 : 국가표준원</p>
        </li> -->
        <li>
          <p>지역중핵기업의 글로벌 시장진입 지원방안 연구 : KIAT</p>
        </li>
      </ul>
      <h3>홈페이지/ 페이스북 운영</h3>
      <ul>
        <li>
          <p>홈페이지 및 페이스북 오픈: 11.11</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>조직위원회</h2>
      <p>ㅡ 국가별 ACC센터 조직, 아시아유학생 네트워크 운영</p>
      <h3>아세안 9개국 방문 ACC 설명회</h3>
      <ul>
        <li>
          <p>태국, 말레이시아, 싱가포르, 인도네시아, 필리핀, 베트남, 라오스, 미얀마, 캄보디아</p>
        </li>
        <li>
          <p>국가별 센터 준비위원회 구성 – 주한 대사 출신 등 현지인 참여 권고</p>
        </li>
      </ul>
      <h3>아시아유학생 취업박람회 참여</h3>
      <ul>
        <li>
          <p>유학생 대상 ACC 설명</p>
        </li>
      </ul>
      <h3>아시아유학생 해커톤 대회</h3>
      <ul>
        <li>
          <p>아시아 국가간 산업기술교류방안</p>
        </li>
        <li>
          <p>국가별 아시아유학생회 설명회 개최</p>
        </li>
        <li>
          <p>각국 대사관 상무관 간담회</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>의료복지위원회</h2>
      <p>ㅡ 이동검진프로젝트, 의료기술표준화 및 인력양성 지원</p>
      <h3>미얀마 이동검진 의료봉사 프로젝트</h3>
      <ul>
        <li>
          <p>미얀마 현지 운영위원회 구성</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>문화예술위원회</h2>
      <p>ㅡ 한류문화와 아시아지역문화 교류, 문화예술행사</p>
      <h3>아시아지역 한류문화행사</h3>
      <ul>
        <li>
          <p>관광공사 등 관련기관협의</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>산업기술교류위원회</h2>
      <p>ㅡ 산업기술자문단 운영, 기술표준화 및 인력자원개발 지원</p>
      <h3>분야별 산업기술자문단 구성</h3>
      <ul>
        <li>
          <p>산업기술자문단 구성 - KIAT, 산업기술대학교와 협의</p>
        </li>
      </ul>
      <h3>기술표준화 지원사업</h3>
      <ul>
        <li>
          <p>기술표준심사원 구성에 따른 산업인력육성 지원사업</p>
        </li>
      </ul>
    </section>
  </article>
  <article class="page-introduce" *ngIf="currentLang == 'en'">
    <section>
      <h2>Academic Research/Planning and Public relations Committee</h2>
      <p>ㅡ ACC seminar operation, expert forum, research and homepage operation, business planning</p>
      <h3>ACC seminar</h3>
      <ul>
        <li>
          <p>1st: Korean DNA and the Future of Korea 
              : Kim Seok-dong, former chairman of the Financial Supervisory Commission: 6.4</p>
        </li>
        <li>
          <p>2nd: Kim Jong Un Era of North Korean Economy 
              : Im-Eul-chool, Professor of North Korean Graduate School at Kyungnam University: 9.12</p>
        </li>
        <li>
          <p>3rd: North Korea's Science and Technology 
              : Dr. Byun Hak-yoon, North Korean Science Institute : 11.20</p>
        </li>
      </ul>
      <h3>Joint research on Asian issues</h3>
      <ul>
        <li>
          <p>A Study on Techno Park's Export Strategy in Asia according to the New South Korean Policy : KIAT</p>
        </li>
        <li>
          <p>New Cooperation Model and Content Development of Standardization System Cooperation Projects in Developing Countries : Korea Standards Agency</p>
        </li>
        <li>
          <p>A Study on Supporting Local Core Firms to Enter the Global Market : KIAT</p>
        </li>
      </ul>
      <h3>Homepage/Facebook Operation</h3>
      <ul>
        <li>
          <p>Homepage and Facebook Open: 11.11</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Organizing Committee</h2>
      <p>ㅡ ACC Center Organization by Country, Asian Student Network Operation</p>
      <h3>ACC briefing session to visit 9 ASEAN countries</h3>
      <ul>
        <li>
          <p>Thailand, Malaysia, Singapore, Indonesia, the Philippines, Vietnam, Laos, Myanmar, Cambodia</p>
        </li>
        <li>
          <p>Composition of Center Preparatory Committee by Country 
              : Recommendation for Local Participation such as Ambassador to Korea</p>
        </li>
      </ul>
      <h3>Participation in Asian international student Job fair</h3>
      <ul>
        <li>
          <p>ACC Description for International Students
            </p>
        </li>
      </ul>
      <h3>Asian international hackatones</h3>
      <ul>
        <li>
          <p>Industrial Technology Exchange between Asian Countries</p>
        </li>
        <li>
          <p>A briefing session on Asian Students' Associations</p>
        </li>
        <li>
          <p>A meeting of the embassy officials</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Medical welfare Committee</h2>
      <p>ㅡ Support for Mobile Screening Project, Standardization of Medical Technology and Training of Human Resources</p>
      <h3>Medical service project in Mimama</h3>
      <ul>
        <li>
          <p>the formation of the local steering committee in Myanmar</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Culture and arts Committee</h2>
      <p>ㅡ Korean Wave Culture, Asian Cultural Exchange, Culture and Arts Events</p>
      <h3>korean cultural events in asian</h3>
      <ul>
        <li>
          <p>consultation of related organizations such as tourism corporation</p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Industrial technology exchange Committee</h2>
      <p>ㅡ Operation of Industrial Technology Advisory Group, Standardization of Technology and Support for Human Resources Development</p>
      <h3>Operation of Industrial Technology Advisory Group by Sector</h3>
      <ul>
        <li>
          <p>Consultation with KIAT, Industrial Technology University</p>
        </li>
      </ul>
      <h3>Technical standardization support project</h3>
      <ul>
        <li>
          <p>Support Project for Industrial Human Resources Development in accordance with the Structure of Technical Standards Auditor</p>
        </li>
      </ul>
    </section>
  </article>
</div>
