<div class="expand-viewer">
  <div class="arrow left" [ngClass]="{visible:currentIndex > 0}">
    <span (click)="slideTo('left')">
      <i class="fonti um-arrow-circle-left"></i>
    </span>
  </div>
  <div class="arrow right" [ngClass]="{visible:currentIndex !== photoList.length - 1}">
    <span (click)="slideTo('right')">
      <i class="fonti um-arrow-circle-right"></i>
    </span>
  </div>
  <div class="close">
    <button (click)="close()">
      <i class="fonti um-times-circle"></i>
    </button>
  </div>
  <div class="photo-wrapper">
    <figure>
      <img [src]="photoList[currentIndex].src">
    </figure>
  </div>
</div>
