.expand-viewer {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.photo-wrapper {
  position: relative;
  margin: auto auto;
  width: calc(100% - 2rem - 20px);
  height: calc(100% - 2rem - 20px);
  z-index: 499;
}

.photo-wrapper figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 499;
}

.photo-wrapper figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 499;
}

.expand-viewer .arrow {
  z-index: 500;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
}

.expand-viewer .arrow.left {
  left: 10px;
  opacity: 0;
  transition: 0.375s;
}

.expand-viewer .arrow.right {
  right: 10px;
  opacity: 0;
  transition: 0.375s;
}
.expand-viewer .arrow.left.visible,
.expand-viewer .arrow.right.visible
{
    opacity: 1;
    transition: 0.375s;
}
.expand-viewer .arrow i{
    text-shadow: 0px 0px 5px rgba(0,0,0,0.375);
    transition: 0.375s;
}
.expand-viewer .arrow:hover i{
    transition: 0.375s;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.875);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
}

.close button {
  font-size: 2rem;
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  border: none;
}
