<mat-card class="article-writer">
  <mat-card-title>{{'board.게시글작성' | translate}}</mat-card-title>
  <mat-card-subtitle>
    <mat-form-field class="article-title">
      <input matInput type="url" placeholder="replace target url" (change)="parseOgTag($event)">
      <mat-error *ngIf="true"></mat-error>
    </mat-form-field>
    <mat-form-field class="lang-code-select">
      <mat-select placeholder="{{'board.언어선택안내' | translate}}" [(value)]="article.lang_code">
        <mat-option value="en">English</mat-option>
        <mat-option value="ko">한국어</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-subtitle>
  <mat-card-content>
    <app-rg-feed *ngIf="article.title" [url]="title"></app-rg-feed>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="onSubmit()">
      {{'board.작성등록' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
