mat-card{
    margin: 5px;
  }
  mat-card-actions{
    text-align: right;
  }
  .article-writer .article-title{
      width: 100%;
  }
  .article-viewer mat-card-content{
    padding-top: 16px;
  }
  .checkboxes{
    padding-top: 0.5rem;
  }
  .lang-code-select{
    width: 50%;
  }
  .feed{
      display: flex;
      flex-direction: row;
      width: calc(100vw - 1rem);
      max-width: calc(100% - 1rem);
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 1px;
      border: 1px solid #999;
  }
  .feed > .thumbnail{
    width: 20%;
    height: calc(15vw - 1rem);
    max-height: 15vw;
    border: 1px solid #999;
  }
  .feed > .thumbnail figure{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .feed > .thumbnail figure img{
      min-width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .feed > .content{
    width: 80%;
    padding-left: 0.5rem;
  }
  .feed > .content h4{
    font-size: 1.4rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
  }
  .feed > .content .description{
    border-top: 2px solid #999999;
    padding-top: 0.5rem;
  }
  .feed > .content .description p{
      margin: 0;
      line-height: 1.7;
      font-size: 1rem;
      font-weight: 300;
  }
  .feed > .content .description p:after{
      content: '...';
  }
  .feed > .content .description .options{
      text-align: right;
  }