.transparent-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.675);
}

.more,
.more:active,
.more:visited {
  display: inline-block;
  margin-top: .8rem;
  margin-bottom: .8rem;
  text-decoration: none;
  color: #0070c9;
  font-size: 17px;
}

.more i {
  margin-left: 8px;
}

#scroll-down {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2vw;
  text-align: center;
  z-index: 1000;
  opacity: 0.8;
  padding: 1.5vh;
  border-radius: 1vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#scroll-down p,
#scroll-down i,
#scroll-right p,
#scroll-right i {
  color: #fff;
  margin: 0;
  padding: 0;
}

#scroll-right {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: 5vw;
  transform: translateY(-50%);
  font-size: 1.2vw;
  text-align: center;
  z-index: 1000;
  opacity: 0.8;
  padding: 1.5vh;
  border-radius: 1vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.section {
  position: relative;
  width: 100%;
  padding: 5rem 0;
}

@media (max-width: 960px) {
  .section {
    position: relative;
    min-height: inherit;
    width: 100%;
  }
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-top {
  padding-top: 64px;
}

.gallery {
  width: 100%;
  height: calc(92vh - 64px);
}

.gallery>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.gallery>ul>li {
  position: relative;
  flex: 0.2 0 auto;
  width: 33vh;
  height: 42vh;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width:960px) {
  .gallery>ul>li {
    width: 33vw;
    height: 33vw;
  }
}

.gallery>ul>li figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.gallery>ul>li figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  transition: 0.375s;
}

.gallery>ul>li:hover figure img {
  height: 120%;
  opacity: 0.8;
  transition: 0.375s;
}

.gallery>ul>li .description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 0.375s;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 0 2vw;
}

.gallery>ul>li:hover .description {
  display: block;
  opacity: 1;
  transition: 0.375s;
}

.gallery>ul>li .description h4,
.gallery>ul>li .description p {
  color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#reference-room {
  background-color: #eee;
}

.simple-list-wrapper {
  padding: 9px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.simple-list {
  position: relative;
  flex: 0 0.2 auto;
  width: 443px;
  max-width: calc(100% - 18px);
  padding: 1rem 2rem 1rem;
  margin: 9px;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}

.simple-list a,
.simple-list a:link,
.simple-list a:hover,
.simple-list a:visited {
  text-decoration: none;
}

.simple-list .list-name {
  padding: 0 0 1rem 0;
}

.simple-list .list-name h5 {
  margin: 0;
  padding: 1rem 0;
  color: #F7683A;
  border-bottom: 1px solid #F7683A;
  font-size: 1rem;
}

.simple-list .list-name h5 i {
  font-size: 85%;
  vertical-align: bottom;
  margin-left: 0.25rem;
}

.simple-list ul {
  position: relative;
  margin: 0;
  padding: 0;
}

.simple-list ul>li {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
  list-style: none;
}

.simple-list ul>li a,
.simple-list ul>li a:hover,
.simple-list ul>li a:visited,
.simple-list ul>li a:link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.simple-list ul>li a span.article-title {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  font-size: 0.875rem;
  width: calc(100% - 5rem);
  color: #232F3E;
}

.simple-list ul>li a:hover span.article-title {
  color: #D43F3A;
}

.simple-list ul>li a span.uploaded-date {
  display: inline-block;
  width: 5rem;
  font-size: 0.875rem;
  text-align: right;
  color: #F7683A;
}

.title {
  display: block;
}

.title h2 {
  font-size: 2.5vh;
  text-align: center;
  color: #D43F3A;
  font-weight: 300;
}

.title .divider {
  background-color: #D43F3A;
  margin: 1rem auto;
}

:host>>>#intro .title {
  margin-top: 6vh;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
}

.half-image {
  display: inline-block;
  width: 50%;
  height: 750px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}

.half-image>img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100%;
}

.description {
  display: inline-block;
  width: 50%;
  height: 750px;
  padding: 3% 2% 2% 3%;
  vertical-align: top;
  background-color: #fafafa;
}

.description h2 {
  color: #333;
  display: block;
  margin-bottom: .4em;
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 400;
  letter-spacing: .011em;
}

.description h3 {
  color: #111;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  margin-top: 0;
}

.description p {
  font-size: 17px;
  word-break: keep-all;
  font-style: normal;
  line-height: 1.47059;
  font-weight: 400;
}

.description dl {
  display: block;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.description dl dt {
  font-size: 17px;
  font-weight: 400;
}

.description dl dd {
  font-size: 24px;
  font-weight: 500;
}

@media all and (max-width:960px) {
  .half-image {
    display: none;
    width: 100%;
  }

  .description {
    width: 100%;
    height: inherit;
  }
}


#intro {
  position: relative;
  display: block;
  width: 100%;
  /* min-height: 70vh; */
  /* height: 25vw; */
  height: 130vw;
  max-height: 1281px;
  overflow: hidden;
  background-color: #111;
}

:host>>>#intro .bg-round-atmos {
  animation: round-atmos;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #intro .bg-horizonal-atmos {
  position: absolute;
  width: 100vw;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  animation: horizontal-atmos;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 15s;
} */

@keyframes round-atmos {
  from {
    /* transform: scale(0, 0); */
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: scale(1.02, 1.02);
  }

  to {
    opacity: 1;
  }
}

:host>>>#intro .wrapper {
  text-align: center;
}

:host>>>#intro h1 {
  text-align: center;
  line-height: 1.2;
  font-size: 2.6vh;
  margin-top: 4vh;
  margin-bottom: 0;
  color: #333;
  font-weight: 300;
  text-shadow: 0px 0px 2px #fff;
}

:host>>>#intro h1 .ko {
  font-size: 3vh;
}

:host>>>#intro strong {
  display: block;
  font-size: 5vh;
  padding: 0 2vw;
  color: #111;
  font-weight: 600;
}

:host>>>#intro strong.moto.ko {
  margin-top: 10vh;
}

:host>>>#intro strong.moto.en {
  margin-top: 2vh;
  font-size: 3vh;
}

:host>>>#intro .content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* transform: translateY(25%); */
  text-align: center;
  padding-top: 64px;
  white-space: normal;
}

:host>>>#intro figure {
  /* transform: translate(50%, 50%); */
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

:host>>>#intro figure>img {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 50%;
  min-width: 100%;
  max-height: 100%;
  transform: translateX(-50%);
  opacity: 1;
}

#welcome-msg,
#structure {
  margin: 6px 0;
  padding: 0;
}

:host>>>#purpose p {
  color: #fff;
  font-size: 2.6vh;
  line-height: 1.7;
  padding: 2vw 7vw;
  text-align: left;
}

:host>>>#major-project dl {
  width: calc(40% - 2rem);
  display: inline-block;
  margin: 2rem 1rem;
  padding: 0rem;
  vertical-align: top;
}

:host>>>#major-project dl dt {
  font-size: 2.8vh;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #fff;
}

:host>>>#major-project dl dd {
  font-size: 2.4vh;
  margin: 0;
  color: #999999;
}

@media (max-width: 960px) {
  :host>>>#intro {
    /* padding-top: 130px;
    padding-bottom: 80px; */
    height: 250vw;
  }

  :host>>>#intro strong {
    font-size: 4vh;
  }

  :host>>>#intro h1 {
    /* font-size: 3vh; */
  }

  :host>>>#intro h1 .ko {
    /* font-size: 1.5vh; */
  }

  :host>>>#major-project dl {
    width: calc(45% - 1rem);
    margin: 2rem 0.5rem;
  }

  :host>>>#major-project dl dt {
    font-size: 2vh;
  }

  :host>>>#major-project dl dd {
    font-size: 1.2vh;
  }
}

.divider {
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2vh auto;
}


#motive {
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: 9vw;
  background-image: url('/assets/image/header.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#motive *:not(.transparent-bg) {
  /* z-index: 500; */
}

.motive.content {
  width: 100%;
  padding: 5vh 5vw;
  text-align: center;
}

.motive p {
  line-height: 1.7;
  font-size: 2.2vh;
  color: #333;
  white-space: normal;
}

#motive .content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5vh 5vw;
  text-align: left;
}

@media (max-width:960px) {
  #motive .content {
    position: relative;
  }
}


#members {
  background-color: #fafafa;
  text-align: center;
}


#members .member-list {
  display: block;
  max-width: 100%;
  padding: 0.5rem;
}

#members .member-list h3 {
  font-size: 2rem;
  color: #111;
  margin: 1rem;
  width: calc(100% - 2rem);
}

#members .member-list dl {
  width: calc(33.333333% - 2rem);
  display: inline-block;
  margin: 1rem;
  padding: 0;
  vertical-align: top;
}

#members .member-list dl dt {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #444;
}

#members .member-list dl dd {
  font-size: 1.2rem;
  margin: 0;
  color: #888;
}

#bewith {
  background-color: #f2f5f8;
  position: relative;
  width: 100%;
  flex-direction: column;
  /* background-image: url('/assets/image/section-bg/bewith-bg.jpeg'); */
  /* background-position: center center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

#bewith .wrapper {
  background-color: #fff;
  padding: 2rem;
  max-width: 960px;
  width: calc(100% - 20px);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.175);
}

#bewith p {
  word-break: keep-all;
  margin-top: .8em;
  line-height: 1.61765;
  text-align: center;
  font-size: 17px;
}

#bewith .contact-email-input {
  width: 100%;
  max-width: 640px;
  display: block;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, 0.6); */
  padding: 4vh 1.5rem 2vh 1.5rem;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#bewith .contact-email-input>mat-form-field {
  width: calc(100% - 100px);
  flex: 0 1 auto;
}

#bewith .contact-email-input>div {
  vertical-align: text-bottom;
  width: 100px;
  flex: 1 0 auto;
  padding-bottom: 1.25em;
}

#project {
  text-align: center;
  min-height: 80vh;
}

#project h2 {
  font-size: 48px;
  line-height: 1.1875;
  letter-spacing: 0em;
  color: #111;
}

#project .content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

#project p {
  word-break: keep-all;
  margin-top: .8em;
  line-height: 1.61765;
  text-align: center;
  font-size: 17px;
}

#project ol {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 3.17647em;
}

#project ol>li {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 20%;
  height: 151px;
  border-bottom: 2px solid #777;
  text-align: center;
  position: relative;
}

#project ol>li.clicked {
  border-bottom: 2px solid #3498db;
}

#project ol>li .icon {
  display: block;
  max-width: 90px;
  height: 70px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

#project ol>li .icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

#project ol>li .icon img:first-child {
  opacity: 0.2;
  transition: 0.375s;
}

#project ol>li .icon img:nth-child(2) {
  opacity: 0;
  transition: 0.375s;
}

#project ol>li.clicked .icon img:first-child {
  opacity: 0;
  transition: 0.375s;
}

#project ol>li.clicked .icon img:nth-child(2) {
  opacity: 1;
  transition: 0.375s;
}

#project ol>li h3 {
  position: relative;
  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding: 9px 0 11px;
  margin-top: 2px;
  margin-bottom: 4px;
  color: #888;
}

@media all and (max-width: 960px) {
  #project ol>li h3 {
    display: none;
  }

  #project ol>li {
    height: 80px;
  }
}

#project ol>li.clicked h3 {
  color: #111;
}

#project article h3 {
  text-align: center;
  line-height: 1.29167;
  font-size: 24px;
  color: #111;
  font-weight: 600;
  letter-spacing: .009em;
}

#project .feeling_image {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  min-height: 550x;
  vertical-align: top;
}

#project .feeling_image figure {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
  min-height: 550px;
  vertical-align: top;
  position: relative;
  transition: 0.375s;
  overflow: hidden;
  opacity: 0.2;
}

#project .feeling_image figure.wide {
  width: 60%;
  opacity: 1;
  transition: 0.375s;
}

#project .feeling_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#project .article {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 0 1rem;
}

@media all and (max-width: 1280px) {
  #project .feeling_image {
    display: none;
  }

  #project .article {
    width: 100%;
  }
}

#whats-new {
  position: relative;
  width: 100%;
}

#whats-new .slide {
  z-index: 500;
}

/* #whats-new .title {
  position: relative;
  padding: 3vh;
  vertical-align: middle;
  color: #fff;
  z-index: 500;
}

#whats-new .title h2 {
  font-size: 5vh;
  margin: 0;
  font-weight: 400;
  color: #fff;
} */

#whats-new .more {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#whats-new .divide-it {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#whats-new .content-view {
  width: calc(100% - 640px);
  padding-right: 1rem;
}

#whats-new .notice-list {
  width: 100%;
  max-width: 640px;
  margin: 0;
  padding: 0;
  z-index: 500;
  background-color: #333;
}

@media (max-width:640px) {
  #whats-new .notice-list {
    width: 100%;
  }

  #whats-new .content-view {
    display: none;
  }
}

#whats-new .notice-list ol {
  margin: 0;
  padding: 0;
}

#whats-new .notice-list ol>li {
  display: block;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: 0.375s;
}

#whats-new .notice-list ol>li * {
  color: #fff;
}

#whats-new .notice-list ol>li.selected * {
  color: #333;
}

#whats-new .notice-list ol>li.selected {
  transition: 0.375s;
  background-color: #fff;
}

#whats-new .notice-list ol>li h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

#whats-new .notice-list ol>li p {
  font-size: 0.875rem;
  margin: 0.5rem 0;
}

#whats-new .content-view .article-header {
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid #3498db;
}

#whats-new .content-view .article-header h3 {
  margin: 0;
  padding: 1rem;
  color: #111;
}

#whats-new .content-view .article-header p {
  display: inline-block;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  color: #111;
}

#whats-new .content-view .description {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1vh 1vw;
  margin: 0;
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #111;
}

#whats-new .content-view .description pre {
  white-space: normal;
  color: #111;
}

#whats-new .photo-viewer {
  width: 98%;
  margin: 1% 1rem;
}

#whats-new .photo-viewer figure {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#whats-new .photo-viewer figure img {
  max-width: 100%;
}

#accnow {}

#accnow .thread-wide {
  width: 100%;
  overflow-x: scroll;
}

#accnow .thread-wide .history-line {
  white-space: nowrap;
}

#accnow .thread-wide .history-line>div {
  display: inline-block;
  width: calc(320px - 2vw);
  text-align: center;
  margin: 0 1vw;
}

#accnow .thread-wide .history-line>div .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3498db;
}

#accnow .thread-wide ol {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#accnow .thread-wide ol>li {
  display: inline-block;
  list-style: none;
  margin: 0 1vw 2vw 1vw;
  width: calc(320px - 2vw);
  height: calc(200px + 120px);
  vertical-align: top;
}

#accnow .thread-wide ol>li>div {
  white-space: normal;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  background: #CC3A46;
  color: #fff;
}


#accnow .thread-wide ol>li.no-photo>div {
  background: #EE702D;
  color: #fff;
  padding: 1rem;
}


#accnow .thread-wide ol>li>div .more {
  text-align: center;
  color: #3498db;
  font-size: 2rem;
  padding-top: calc(120px - 1rem);
}

#accnow .thread-wide ol>li>div>figure {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#accnow .thread-wide ol>li>div>figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

#accnow .thread-wide ol>li.no-photo>div>figure {
  display: none;
}

#accnow .thread-wide ol>li>div pre {
  white-space: normal;
  padding: 1rem;
  margin: 0;
  line-height: 1.35;
  font-size: 17px;
}

#accnow .thread-wide ol>li.no-photo>div pre {
  font-size: 24px;
}

#accnow .thread-wide::-webkit-scrollbar-thumb {
  opacity: 0;
  transition: 0.375s;
}

#accnow .thread-wide:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  transition: 0.375s;
}

#news {
  background-color: #eee;
  /* background-image: url('/assets/image/section-bg/7414.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; */
}

#news .feeds {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

#news .feeds::-webkit-scrollbar-thumb {
  opacity: 0;
  transition: 0.375s;
}

#news .feeds:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  transition: 0.375s;
}

#news .feeds>ul {
  display: block;
  margin: 0;
  padding: 2px 3vh;
}

#news .feeds>ul>li {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0;
}

#photo {
  /* background-color: #eee; */
  /* background-image: url('/assets/image/section-bg/7414.jpg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; */
}

#photo .photo-viewer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* overflow-y: auto; */
  /* max-height: calc(92vh - 64px); */
  /* padding: 2rem; */
  width: 100%;
}

#photo .photo-viewer-list>div {
  float: left;
  width: 16.6vw;
  height: 12vw;
  max-width: 32rem;
  max-height: 24rem;
  min-width: 157px;
  min-height: 119px;
  /* width: 50%; */
  flex: 0.2 0.2 auto;
}

@media (max-width: 960px) {
  #photo .photo-viewer-list>div {
    /* width: 100%; */
    min-width: 33.33333333%;
  }

  #photo .photo-viewer-list {
    max-height: inherit;
  }
}


#company {
  background-color: #212327;
}

@media (max-width: 960px) {
  #company {
    display: none;
  }
}

#company p,
#company a {
  color: rgba(255, 255, 255, .75);
  font-size: 0.8125rem;
}

#company h1,
#company strong {
  color: #fff;
}

#company #google-map {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 50%;
  text-align: center;
}

#company #google-map>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#company #info {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 50%;
  display: inline-block;
  width: 50%;
  max-width: 600px;
  vertical-align: top;
  padding-right: 2vw;
}

#company .registered {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-right: 56px;
}

#company #info .registered figure {
  margin: 0;
}

#company #info .registered figure img {
  width: 10rem;
}

#company .registered h1 {
  margin: 0.5rem 0;
  color: rgba(255, 255, 255, .75);
  font-size: 4vh;
}

#company .registered strong {
  color: rgba(255, 255, 255, .75);
  font-size: 2.5vh;
}

#company .registered p {
  font-size: 1.7vh;
}

#company .be-with {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-right: 56px;
  text-align: right;
}

#company hr {
  margin: 1rem 0;
}

@media (max-width: 960px) {
  #company {
    padding-top: 56px;
  }

  #company #google-map,
  #company #info {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    transform: none;
    width: 88%;
    max-height: 44%;
    margin: 3% 6%;
  }

  #company #info h1,
  #company #info strong {
    font-size: 1.2rem;
  }

  #company #info .registered figure img {
    width: 4rem;
  }
}
