<div id="intro">
  <figure>
    <img src="/assets/image/header.jpg">
  </figure>
  <div class="content">
    <strong class="moto ko">협력과 상생의 아시아, <br class="on-mobile">함께 이루는 공동선</strong>
    <strong class="moto en">Leading cooperation to improve <br class="on-mobile">living standard of Asian people</strong>
    <h1>
      <span class="font-fix-en">Asia </span>
      <span class="font-fix-en">Cooperation </span>
      <span class="font-fix-en">Center</span>
      <br>
      <span class="ko">(사)아시아교류협력센터</span>
    </h1>
  </div>
</div>

<div class="section" id="welcome-msg">
  <figure class="half-image">
    <img src="assets/image/section-bg/handshake.jpg">
  </figure>
  <div class="description">
    <h3>{{'index.welcome.subtitle' | translate}}</h3>
    <p appUpRiseMotion>{{'index.welcome.description1' | translate}}</p>
    <p appUpRiseMotion>{{'index.welcome.description2' | translate}}</p>
    <p appUpRiseMotion>{{'index.welcome.description3' | translate}}</p>



    <a class="more" routerLink="article/organization" appUpRiseMotion>
      <span>
        Members
      </span>
      <i class="fonti um-angle-right"></i>
    </a>
  </div>
</div>

<div class="section" id="structure">
  <div class="description">
    <h2>{{'index.structure.title' | translate}}</h2>
    <h3>{{'index.structure.subtitle' | translate}}</h3>
    <p appUpRiseMotion>{{'index.structure.description1' | translate}}</p>
    <p appUpRiseMotion>{{'index.structure.description2' | translate}}</p>
    <p appUpRiseMotion>{{'index.structure.description3' | translate}}</p>
    <p appUpRiseMotion>{{'index.structure.description4' | translate}}</p>
    <p appUpRiseMotion>{{'index.structure.description5' | translate}}</p>
    <p appUpRiseMotion>{{'index.structure.description6' | translate}}</p>
    <div>
      <a class="more" routerLink="article/structure" appUpRiseMotion>
        <span>{{'index.structure.link' | translate}}</span>
        <i class="fonti um-angle-right"></i>
      </a>
    </div>
  </div>
  <figure class="half-image">
    <img src="assets/image/section-bg/index-ww.jpeg">
  </figure>
</div>

<div class="section" id="project">
  <h2>{{'navbar.메뉴.주요사업' | translate}}</h2>
  <p></p>
  <div class="content">
    <div appUpRiseMotion class="tabnav">
      <ol>
        <li [ngClass]="{'clicked' : showingStateListOfProjectArticle[0]}">
          <div (click)="showProjectArticle(0)">
            <figure class="icon">
              <img src="assets/image/am3.png">
              <img src="assets/image/am.png">
            </figure>
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획1.제목' | translate"></h3>
          </div>
        </li>
        <li [ngClass]="{'clicked' : showingStateListOfProjectArticle[1]}">
          <div (click)="showProjectArticle(1)">
            <figure class="icon">
              <img src="assets/image/ne3.png">
              <img src="assets/image/ne.png">
            </figure>
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획2.제목' | translate"></h3>
          </div>
        </li>
        <li [ngClass]="{'clicked' : showingStateListOfProjectArticle[2]}">
          <div (click)="showProjectArticle(2)">
            <figure class="icon">
              <img src="assets/image/in3.png">
              <img src="assets/image/in.png">
            </figure>
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획3.제목' | translate"></h3>
          </div>
        </li>
        <li [ngClass]="{'clicked' : showingStateListOfProjectArticle[3]}">
          <div (click)="showProjectArticle(3)">
            <figure class="icon">
              <img src="assets/image/ha3.png">
              <img src="assets/image/ha.png">
            </figure>
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획4.제목' | translate"></h3>
          </div>
        </li>
        <li [ngClass]="{'clicked' : showingStateListOfProjectArticle[4]}">
          <div (click)="showProjectArticle(4)">
            <figure class="icon">
              <img src="assets/image/pl3.png">
              <img src="assets/image/pl.png">
            </figure>
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획5.제목' | translate"></h3>
          </div>
        </li>
      </ol>
    </div>
    <div class="feeling_image">
      <figure [ngClass]="{wide : showingStateListOfProjectArticle[0]}">
        <img src="assets/image/section-bg/slide1.jpeg">
      </figure>
      <figure [ngClass]="{wide : showingStateListOfProjectArticle[1]}">
        <img src="assets/image/section-bg/slide3.jpg">
      </figure>
      <figure [ngClass]="{wide : showingStateListOfProjectArticle[2]}">
        <img src="assets/image/section-bg/slide2.jpg">
      </figure>
      <figure [ngClass]="{wide : showingStateListOfProjectArticle[3]}">
        <img src="assets/image/section-bg/slide4.jpeg">
      </figure>
      <figure [ngClass]="{wide : showingStateListOfProjectArticle[4]}">
        <img src="assets/image/section-bg/slide5.jpg">
      </figure>
    </div>
    <div appUpRiseMotion class="article">
      <article *ngIf="showingStateListOfProjectArticle[0]">
        <div class="article-wrap first">
          <div class="article-content">
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획1.제목' | translate"></h3>
            <p [innerHTML]="'index.section2.주요사업계획.사업계획1.내용' | translate"></p>
          </div>
        </div>
      </article>
      <article *ngIf="showingStateListOfProjectArticle[1]">
        <div class="article-wrap second">
          <div class="article-content">
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획2.제목' | translate"></h3>
            <p [innerHTML]="'index.section2.주요사업계획.사업계획2.내용' | translate"></p>
          </div>
        </div>
      </article>
      <article *ngIf="showingStateListOfProjectArticle[2]">
        <div class="article-wrap third">
          <div class="article-content">
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획3.제목' | translate"></h3>
            <p [innerHTML]="'index.section2.주요사업계획.사업계획3.내용' | translate"></p>
          </div>
        </div>
      </article>
      <article *ngIf="showingStateListOfProjectArticle[3]">
        <div class="article-wrap fourth">
          <div class="article-content">
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획4.제목' | translate"></h3>
            <p [innerHTML]="'index.section2.주요사업계획.사업계획4.내용' | translate"></p>
          </div>
        </div>
      </article>
      <article *ngIf="showingStateListOfProjectArticle[4]">
        <div class="article-wrap fifth">
          <div class="article-content">
            <h3 [innerHTML]="'index.section2.주요사업계획.사업계획5.제목' | translate"></h3>
            <p [innerHTML]="'index.section2.주요사업계획.사업계획5.내용' | translate"></p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="section" id="accnow">
  <div class="title">
    <h2>ACC NOW</h2>
    <span class="divider"></span>
  </div>
  <div class="thread-wide">
    <ol>
      <ng-container *ngFor="let article of accnow; let index = index">
        <li [ngClass]="{'no-photo' : !hasPhotoInFileList(article.file_list)}">
          <div>
            <figure>
              <img [src]="getPhotoInFileList(article.file_list)">
            </figure>
            <pre>{{article.title}}</pre>
          </div>
        </li>
      </ng-container>
    </ol>
  </div>
  <div style="text-align:center; padding: 3rem;">
    <a class="more" routerLink="/board/accnow">
      <span>지난활동 더 보기</span>
      <i class="fonti um-plus-circle"></i>
    </a>
  </div>
</div>

<div class="section" id="photo">
  <div class="title">
    <h2 class="font-fix-en">PHOTO</h2>
    <span class="divider"></span>
  </div>
  <div class="photo-viewer-list">
    <ng-container *ngFor="let article of recentPhoto; let idx = index;">
      <div>
        <app-rg-album [article]="article" [expand]="true"></app-rg-album>
      </div>
    </ng-container>
  </div>
  <div style="text-align:center; padding: 3rem;">
    <a class="more" routerLink="/board/photo" appUpRiseMotion>
      <span>더보기</span>
      <i class="fonti um-angle-right"></i>
    </a>
  </div>
</div>

<div class="section " id="reference-room">
  <div class="title">
    <h2 class="font-fix-en">REFERENCE ROOM</h2>
    <span class="divider"></span>
  </div>
  <div class="simple-list-wrapper">
    <ng-container *ngFor="let ref_name of ref_name_list;">
      <div class="simple-list">
        <div class="list-name">
          <a [routerLink]="['/board', 'ref_' + ref_name]">
            <h5>
              <span *ngIf="ref_board_info['ref_' + ref_name]">{{ref_board_info['ref_' +
                ref_name]['lang_code'][0]['aka']}}</span>
              <span>
                <i class="fonti um-chevron-right"></i>
              </span>
            </h5>
          </a>
        </div>
        <ul *ngIf="recentReference['ref_' + ref_name]">
          <ng-container *ngFor="let article of recentReference['ref_' + ref_name]; let index = index;">
            <li *ngIf="index <= 4">
              <a [routerLink]="['/board', 'ref_' + ref_name, 'article', article.cid]">
                <span class="article-title">{{article.title}}</span>
                <span class="uploaded-date">
                  <span [pydate]='article.reg_date' [format]="'mm/dd'"></span>
                </span>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="recentReference['ref_' + ref_name].length == 0">
            <li>
              <a>
                <span class="article-title">No Content.</span>
                <span class="uploaded-date"></span>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </ng-container>
  </div>
</div>



<!-- <div class="section" id="members">
    <div class="max-width-wrapper">
      <div class="title">
        <h2>Members</h2>
        <span class="divider"></span>
      </div>
      <div class="member-list">
        <h3 appUpRiseMotion>이사장</h3>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">정윤재</span>
          </dt>
          <dd>
            <span class="position">경기대 초빙교수, 前 청와대 의전비서관</span>
          </dd>
        </dl>
        <h3 appUpRiseMotion>이사/감사</h3>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">이동욱</span>
          </dt>
          <dd>
            <span class="position">신한금융투자 고문</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">차상근</span>
          </dt>
          <dd>
            <span class="position">전 파이낸스뉴스 북경특파원</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">박가람</span>
          </dt>
          <dd>
            <span class="position">다이노랩 대표</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">김은호</span>
          </dt>
          <dd>
            <span class="position">국가과학기술연구회 이사, 사회심리학박사</span>
          </dd>
        </dl>



        <dl appUpRiseMotion>
          <dt>
            <span class="name">장필호</span>
          </dt>
          <dd>
            <span class="position">차의과대 산학협력단 부단장, 전 산업기술진흥원 본부장</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">신진기</span>
          </dt>
          <dd>
            <span class="position">계명대 도시학부 부교수, 교통공학 전공</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">나규동</span>
          </dt>
          <dd>
            <span class="position">한국생물산업기계학회 이사, 농업기계공학박사</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">조휘택</span>
          </dt>
          <dd>
            <span class="position">브릿지과학기술협동조합 대표</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">윤경태</span>
          </dt>
          <dd>
            <span class="position">그린닥터스 이사/개성공단 남북협력병원추진위 사무총장</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">김미정</span>
          </dt>
          <dd>
            <span class="position">약사, 1급사회복지사</span>
          </dd>
        </dl>

        <dl appUpRiseMotion>
          <dt>
            <span class="name">김종환</span>
          </dt>
          <dd>
            <span class="position">세계한인무역협회 미얀마지회 지회장</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">박방수</span>
          </dt>
          <dd>
            <span class="position">세계한인무역협회 싱가포르지회 부회장</span>
          </dd>
        </dl>


        <dl appUpRiseMotion>
          <dt>
            <span class="name">이성원</span>
          </dt>
          <dd>
            <span class="position">공인회계사</span>
          </dd>
        </dl>

        <h3 appUpRiseMotion>지도자문위원</h3>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">안현호</span>
          </dt>
          <dd>
            <span class="position">산업기술대학교 총장, 전 산업통상자원부 차관</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">김두영</span>
          </dt>
          <dd>
            <span class="position">KOTRA 이사/혁신성장본부 본부장</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">허남용</span>
          </dt>
          <dd>
            <span class="position">자동차부품연구원장, 前 국가기술표준원장</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">양영태</span>
          </dt>
          <dd>
            <span class="position">법무법인 지평 대표변호</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">강태혁</span>
          </dt>
          <dd>
            <span class="position">한경대교수, 전 한국은행 감사</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">이준동</span>
          </dt>
          <dd>
            <span class="position">파인하우스필름/나우필름 대표</span>
          </dd>
        </dl>
        <h3 appUpRiseMotion>사무국 및 연구팀</h3>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">차상근</span>
          </dt>
          <dd>
            <span class="position">사무국장, 이사 겸임</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">바스카</span>
          </dt>
          <dd>
            <span class="position">간사, 몽골국립대 학사, 고려대 사회학석사 수료</span>
          </dd>
        </dl>
        <dl appUpRiseMotion>
          <dt>
            <span class="name">박가람</span>
          </dt>
          <dd>
            <span class="position">연구팀, 이사 겸임 연구위원</span>
          </dd>
        </dl>
      </div>
    </div>
    <a class="more" routerLink="article/organization" appUpRiseMotion>
      <span>조직체계 더 살펴보기</span>
      <i class="fonti um-angle-right"></i>
    </a>
  </div>

-->

<div class="section" id="news">
  <div class="title">
    <h2 class="font-fix-en">ASIA NEWS</h2>
  </div>
  <div class="feeds">
    <ul class="article-list with-thumbnail">
      <li *ngFor="let feed of recentNews; let idx = index">
        <app-rg-feed [url]="feed.title" [article]="feed"></app-rg-feed>
      </li>
    </ul>
  </div>
  <div style="text-align:center; padding: 3rem;">
    <a class="more" routerLink="/board/news">
      <i class="fonti um-plus-circle"></i>
      <span>more</span></a>
  </div>
</div>


<div class="section flex-centered " id="bewith">
  <div appUpRiseMotion class="wrapper">
    <div class="title">
      <h2>{{'index.bewith.title' | translate}}</h2>
      <span class="divider"></span>
    </div>
    <p [innerHTML]="'index.bewith.description' | translate"></p>
    <form appUpRiseMotion class="contact-email-input">
      <mat-form-field>
        <input #emailInput matInput type="email" placeholder="input your email for being with.">
      </mat-form-field>
      <div>
        <button mat-button (click)="gotoContactUsPage(emailInput.value)">submit</button>
      </div>
    </form>
  </div>
</div>




<!-- <div class="" id="whats-new">
  <div class="slide">
    <div class="divide-it">
      <div class="notice-list">
        <div class="title">
          <h2 class="font-fix-en">ACC Now</h2>
          <span class="divider"></span>
        </div>
        <ol appUpRiseMotion>
          <ng-container *ngFor="let article of recentNotice; let idx = index;">
            <li *ngIf="idx <= 9" (click)="selectRecentNotice(idx)" [ngClass]="{'selected' : recentNoticeIndex === idx}">
              <h3>{{article.title}}</h3>
              <p>
                <span pydate [format]="'yyyy/mm/dd'" [pydate]="article.reg_date"></span>
              </p>
            </li>
          </ng-container>
        </ol>
        <a class="more" routerLink="/board/notice">
          <i class="fonti um-plus-circle"></i>
          <span>more</span>
        </a>
      </div>

      <div class="content-view" *ngIf="recentNotice.length > 0">
        <div class="article-header">
          <h3>{{recentNotice[recentNoticeIndex].title}}</h3>
          <p><span pydate [format]="'yyyy/mm/dd'" [pydate]="recentNotice[recentNoticeIndex].reg_date"></span></p>
        </div>
        <div class="description">
          <div class="photo-viewer">
            <ng-container *ngFor="let ufile of recentNotice[recentNoticeIndex].file_list">
              <figure *ngIf="isPhoto(ufile.filetype)">
                <img [src]="apiURL + '/board/file/' + ufile.id">
              </figure>
            </ng-container>
          </div>
          <pre [innerHTML]="recentNotice[recentNoticeIndex].description"></pre>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="gallery">
    <ul>
      <ng-container *ngFor="let article of recentPhoto; let idx = index;">
        <li *ngIf="idx <= 9">
          <figure>
            <img [src]="getPhotoInFileList(article.file_list)">
          </figure>
          <div class="description" (click)="goto('photo', article.cid)">
            <h4>{{article.title}}</h4>
            <article>
              <p>{{article.description | truncate:[12, '..']}}</p>
            </article>
          </div>
        </li>
      </ng-container>
    </ul>
  </div> -->

<ng-container *ngFor="let article of popupArticles; let index = index;">
  <app-rg-notice-popup [article]="article"></app-rg-notice-popup>
</ng-container>
