<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{__boardAka}}</h1>
</div>
<div class="max-width-wrapper">
  <article>
    <section>
      <p></p>
    </section>
  </article>
  <div>
    <ng-container *ngIf="__boardInfo.style === 'feed'; then feedEditor else otherEditor"></ng-container>
    <ng-template #feedEditor>
      <app-rg-feed-editor [modTarget]="__modTargetArticle"></app-rg-feed-editor>
      </ng-template>
    <ng-template #otherEditor>
      <app-rg-post-editor [modTarget]="__modTargetArticle"></app-rg-post-editor>
    </ng-template>
  </div>
</div>
