<ng-container *ngFor="let article of articleList;let index = index;">
  <app-rg-album [article]="article" [mode]="'board'"></app-rg-album>
</ng-container>
<mat-paginator [pageSize]="10" [length]="articleTotalCount" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>