/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Questrial');

@import '/assets/css/quill.core.css';
@import '/assets/css/quill.bubble.css';
@import '/assets/css/quill.snow.css';

@font-face {
  font-family: "IropkeBatangM";
  src: url('/assets/fonts/IropkeBatangM_web/IropkeBatangM.woff') format('woff'), url('/assets/fonts/IropkeBatangM_web/IropkeBatangM.eot') format('embedded-opentype');
}

html[lang=ko] *:not(.fonti) {
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: "IropkeBatangM, sans-serif"; */
}

.font-fix-ko {
  font-family: 'Noto Sans KR', sans-serif !important;
  /* font-family: "IropkeBatangM" !important; */
}

.font-fix-ko * {
  font-family: 'Noto Sans KR', sans-serif !important;
  /* font-family: "IropkeBatangM" !important; */
}

html[lang=en] *:not(.fonti) {
  font-family: 'Questrial', sans-serif;
}

.font-fix-en {
  font-family: 'Questrial', sans-serif !important;
}

.font-fix-en * {
  font-family: 'Questrial', sans-serif !important;
}

* {
  box-sizing: border-box;
}

pre * {
  color: initial;
  font-size: initial;
  text-align: initial;
  font-weight: initial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  color: #4b4e53;
}

html {
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

@media (max-width: 960px) {
  html {
    font-size: 75%;
  }

  .on-mobile {
    display: inherit !important;
  }

  .on-desktop {
    display: none !important;
  }
}

@media all and (min-width: 961px) {
  .on-mobile {
    display: none !important;
  }

  .on-desktop {
    display: inherit !important;
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .max-width-wrapper {
    margin: 0 1%;
    width: 98%;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: transparent;
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
/* styles for '...' */
.block-with-text {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

a{
  cursor: pointer !important;
}

a[mat-button],
a[mat-menu-item] {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-size: 2.8rem;
  font-weight: 300;
}

strong {
  font-size: 2rem;
  font-weight: 200;
}

@keyframes lazy-loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lazy-loading-before {
  opacity: 0;
}

.lazy-loading-slow {
  animation-name: lazy-loading;
  animation-timing-function: ease-in;
  animation-duration: 1.675s;
}

.lazy-loading-medium {
  animation-name: lazy-loading;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.lazy-loading-fast {
  animation-name: lazy-loading;
  animation-timing-function: ease-in;
  animation-duration: 0.375s;
}

.side-nav-bar {
  position: absolute;
  top: calc(25rem + 80px);
  left: calc(50% + 960px / 2 + 10px);
  background-color: rgba(0, 0, 0, .03);
  width: 300px;
}


.header {
  position: relative;
  padding-top: 64px;
  height: 25rem;
  max-height: 35%;
  width: 100%;
  background-color: #111;
  overflow: hidden;
}

.header img.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  user-select: none;
}

.header h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  width: 100%;
  padding: 0.5rem;
  color: #fff;
}

.fp-controlArrow.fp-prev {
  border-width: 3.85vh 3.4vh 3.85vh 0 !important;
  opacity: 0.2 !important;
  border-color: transparent rgba(0, 0, 0, 0.9) transparent transparent !important;
}

.fp-controlArrow.fp-next {
  border-width: 3.85vh 0 3.85vh 3.4vh !important;
  opacity: 0.2 !important;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.9) !important;
}

.flex-spacer {
  flex-grow: 1;
}
