figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

figure img {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}

figure .more {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

figure .more span:first-child {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  font-size: 2rem;
  padding: 0.25rem;
}

figure .more span:nth-child(2) {
  margin: 0.5rem auto;
  display: block;
  font-size: 1rem;
  color: #fff;
}

figure:hover .more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img:first-child {
  display: inline-block;
}

section {
  background-color: rgba(255, 255, 255, 0.875);
  border-radius: 1px;
  border: 1px solid #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  width: calc(100% - 1rem);
  transition: 0.375s;
}

section:hover {
  border: 1px solid rgba(18, 104, 179, 0.34);
  transition: 0.375s;
}

.header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  height: inherit;
  background-color: transparent;
}

.header h4.title {}

.header .description {
  width: 100%;
  height: 3rem;
  overflow: hidden;
}

.header .description.clicked {
  height: inherit;
}

.header .description pre {
  white-space: normal;
}

.header span.reg-date {
  position: absolute;
  right: 1.33rem;
  top: calc(1.33rem + 0.5rem);
}

.header .options {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 8px;
  margin-top: 8px;
  text-align: right;
}
