<ng-container *ngIf="mode == 'board'">
  <section>
    <div class="header">
      <h4 class="title">{{__article.title}}</h4>
      <div class="description" (click)="isShowing = !isShowing" [ngClass]="{'clicked': isShowing}">
        <pre class="ql-editor ql-container preview" [innerHTML]="__article.description | safeHtml"></pre>
      </div>
      <div class="options">
        <button *ngIf="session.isAdmin || session.isArticleOwner(__article.guest_id)" mat-button [color]="'primary'"
          (click)="gotoModify()">{{'board.수정' | translate}}</button>
        <button *ngIf="session.isAdmin || session.isArticleOwner(__article.guest_id)" mat-button [color]="'warn'"
          (click)="removeArticle()">{{'board.삭제' | translate}}</button>
      </div>
      <span class="reg-date" [pydate]="__article.reg_date" [format]="'yyyy/mm/dd'"></span>
    </div>
    <app-rg-carousel [photoList]="photoList" (onPhotoSelected)="expandView($event)"></app-rg-carousel>
  </section>
</ng-container>

<ng-container *ngIf="mode == 'album'">
  <figure (click)="expandView(0)">
    <img [src]="photoList[0].src">
    <div class="more">
      <span>
        <i class="fonti um-search-alt"></i>
      </span>
      <span>more</span>
    </div>
  </figure>
</ng-container>

<ng-template #rgAlbumExpandedViewContainer></ng-template>
