<div>
  <mat-selection-list #uploadedFiles [(ngModel)]="selectedFilesIndex">
    <ng-container *ngIf="uploadedFileList.length > 0">
      <mat-list-option *ngFor="let uploadedFile of uploadedFileList; let index = index" [value]="index">
        {{uploadedFile['filename']}} | {{uploadedFile['filesize_mb']}}mb
      </mat-list-option>
    </ng-container>
    <ng-container *ngIf="uploadedFileList.length == 0">
      <mat-list-item>{{'board.파일선택메세지' | translate}}</mat-list-item>
    </ng-container>
  </mat-selection-list>

  <div class="options">
    <div class="on-selected-exist" *ngIf="uploadedFiles.selectedOptions.selected.length > 0">
      <span>
        선택된 {{uploadedFiles.selectedOptions.selected.length}}개 파일을
      </span>
      <button mat-stroked-button [color]="'warn'" (click)="removeFiles()">삭제</button>
    </div>
    <div class="on-selected-empty" *ngIf="uploadedFiles.selectedOptions.selected.length == 0">
      <input #fileSelectElement type="file" multiple style="display:none;" (change)="uploadFiles($event)">
      <button mat-button (click)="fileSelectElement.click()">{{'board.파일추가' | translate}}</button>
    </div>
  </div>

  <div class="progress-bar" *ngIf="isUploading">
    <strong>Files uploading...</strong>
    <mat-progress-bar class="example-margin" 
    [color]="'primary'" [mode]="'determinate'" [value]="progress">
    </mat-progress-bar>
  </div>
</div>