:host{
    position: relative;
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0.5rem 0;
}
strong{
    display: block;
    margin: 0.5rem;
    font-size: 14px;
    font-weight: 400;
}
mat-selection-list{
    background-color: rgba(0,0,0,0.02);
    padding: 8px;
}
mat-list-text{
    font-size: 14px;
}
.options{
    text-align: right;
    vertical-align: middle;
    margin: 0.5rem;
}
.progress-bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    vertical-align: middle;
    transition: 0.375s;
}
.progress-bar strong{
    display: block;
    margin: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.progress-bar .example-margin {
  margin: 0 10px;
  width: calc(100% - 20px);
}