.feed {
  display: flex;
  flex-direction: column;
  width: 314px;
  max-width: calc(100% - 2.5rem);
  /* height: 429px; */
  margin-bottom: 25px;
  padding: 15px 0.5rem;
  border-radius: 1px;
  border: 1px solid #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 0.375s;
  white-space: normal;
}

.feed:hover {
  border: 1px solid rgba(18, 104, 179, 0.34);
  transition: 0.375s;
}

.feed>.tag {
  font-size: 1rem;
  color: rgba(18, 104, 179, 0.6);
  font-weight: bold;
  margin-bottom: 12px;
}

.feed>.thumbnail {
  width: 100%;
  height: 181px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

.feed>.thumbnail figure {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.feed>.thumbnail figure img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feed>.content {
  width: 100%;
}

.feed>.content h4 {
  font-size: 1.5rem;
  min-height: 58px;
  line-height: 1.2;
  font-weight: 400;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  overflow: hidden;
  width: 100%;
  height: 5.4rem;
  margin: 15px 0px 5px 0px;
}

.feed>.content .description {
  min-height: 3.75rem;
}

.feed>.content .description p {
  color: #999;
  margin: 0;
  line-height: 1.4;
  font-size: 1.05rem;
  max-height: 44px;
  overflow: hidden;
}

.feed>.content .description p:after {
  content: '...';
}

.feed>.options {
  position: relative;
}

.author {
  display: flex;
  flex-direction: row;
}

.author figure {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.author figure img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.author>div {
  padding: 5px 0px 6px 12px;
}

.author .username {
  display: block;
  color: #1268B3;
  font-weight: 500;
  font-size: 14px;
}

.author .reg-date {
  display: block;
  font-size: 0.725rem;
  line-height: 1.3;
  color: #333;
}

.options .social {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.options .social a,
.options .social a:hover,
.options .social a:link,
.options .social a:visited {
  text-decoration: none;
  display: block;
  margin-left: 10px;
}

.options .social a i {
  font-size: 1.4rem;
  color: gray;
  transition: 0.375s;
}

.options .social a:hover {
  transition: 0.375s;
  color: #111;
}

.options .buttons {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 8px;
  margin-top: 8px;
  text-align: right;
}
