<div class="feed">
  <div class="tag">
    <span *ngIf="__article.lang_code == 'ko'">한국</span>
    <span *ngIf="__article.lang_code == 'en'">English</span>
  </div>
  <div class="thumbnail">
    <figure>
      <img *ngIf="__url" [src]="feed.image">
      <img *ngIf="!__url" [src]="getPhotoInFileList(__article.file_list)">
    </figure>
  </div>
  <div class="content">
    <h4 *ngIf="__url">{{feed.title}}</h4>
    <div class="description">
      <p *ngIf="__url">{{feed.description | truncate:[40, '..']}}</p>
    </div>
  </div>
  <div class="options">
    <div *ngIf="mode == 'preview';then author1 else author2"></div>
    <ng-template #author1>
      <div class="author">
        <figure>
          <img *ngIf="session.sessionFrom == 'facebook'" src="/assets/image/facebook-icon.png">
        </figure>
        <div>
          <span class="username">{{session.commonSession.name}}</span>
          <span class="reg-date" pydate [format]="'yy/mm/dd'"></span>
        </div>
      </div>
    </ng-template>
    <ng-template #author2>
      <div class="author">
        <figure>
          <img [src]="__article.guest_profile_image">
        </figure>
        <div>
          <span class="username">{{__article.guest_name}}</span>
          <span class="reg-date" [pydate]="__article.reg_date" [format]="'yy/mm/dd'"></span>
        </div>
      </div>
    </ng-template>
    <div class="social">
      <a href="{{__url}}" target="_blank">
        <i class="fonti um-share-square-o"></i>
      </a>
      <a (click)="share()">
        <i class="fonti um-share-alt-o"></i>
      </a>
    </div>
    <div class="buttons">
      <button *ngIf="session.isAdmin || session.isArticleOwner(__article.guest_id)" mat-button [color]="'warn'" (click)="removeArticle()">{{'board.삭제'
        | translate}}</button>
    </div>
  </div>
</div>
