:host{
    position: relative;
    display: block;
    padding-top: 64px;
}
.board-options{
    width: calc(100% - 28px);
    margin: 14px;
    text-align: right;
}
.select-lang mat-radio-button{
    margin: 0 0.5rem;
}