<div class="header">
  <img class="bg" src="/assets/image/header.jpg">
  <h1>{{__boardAka}}</h1>
</div>
<div class="max-width-wrapper">
  <article>
    <section>
      <p></p>
    </section>
    <div class="select-lang">
      <mat-toolbar>
        <span>{{"board.언어선택" | translate}}</span>
        <mat-radio-group class="example-radio-group" [(ngModel)]="__currentLangCode" (ngModelChange)="changeLangCode($event)">
          <mat-radio-button class="example-radio-button" *ngFor="let lang of __boardInfo['lang_code']" [value]="lang.lang_code">
            {{lang.lang_code}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-toolbar>
    </div>
  </article>
  <router-outlet></router-outlet>
  <div>
    <app-rg-board *ngIf="__boardStyle == 'board'"></app-rg-board>
    <app-rg-thread *ngIf="__boardStyle == 'thread'"></app-rg-thread>
    <app-rg-feed-list *ngIf="__boardStyle == 'feed'"></app-rg-feed-list>
    <app-rg-album-list *ngIf="__boardStyle == 'photo'"></app-rg-album-list>
    <div class="board-options">
      <a *ngIf="session.hasAuth(__boardInfo.write_auth)" mat-raised-button [color]="'primary'" [routerLink]="['./', 'write']">{{'board.글쓰기버튼' | translate}}</a>
    </div>
  </div>
</div>