<div class="exist-keyword-alert" *ngIf="activatedRoute.snapshot.queryParams['keyword']">
  <mat-toolbar>
    <span>Search result for keyword "{{activatedRoute.snapshot.queryParams['keyword']}}"</span>
    <span class="spacer"></span>
    <button mat-button (click)="clearKeyword()">clear keyword</button>
  </mat-toolbar>
</div>
<div class="mat-elevation-z8" *ngIf="__boardName">
  <table mat-table [dataSource]="articleList">

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="cid">
      <th mat-header-cell *matHeaderCellDef>{{'board.번호' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.cid}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>{{'board.제목' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="goto(element.cid)">{{element.title}}</a>
        <app-facebook-comments-count [targetUrl]="presentHost + '/board/' + __boardName + '/article/' + element.cid">
        </app-facebook-comments-count>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="guest_name">
      <th mat-header-cell *matHeaderCellDef>{{'board.작성자' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.guest_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="reg_date">
      <th mat-header-cell *matHeaderCellDef>{{'board.등록일시' | translate}}</th>
      <td mat-cell *matCellDef="let element"> 
        <span pydate [format]="'yyyy/mm/dd'" [pydate]="element.reg_date"></span> </td>
    </ng-container>

    <ng-container matColumnDef="view_count">
      <th mat-header-cell *matHeaderCellDef>{{'board.조회수' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.view_count}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [length]="articleTotalCount" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
  <div class="board-options">
    <div class="search">
      <mat-radio-group [(ngModel)]="keywordType">
        <mat-radio-button checked value="article">{{'board.제목내용' | translate}}</mat-radio-button>
        <mat-radio-button value="guest_name">{{'board.작성자' | translate}}</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="keyword" placeholder="{{'board.검색어입력' | translate}}" (keyup.enter)="searchKeyword()">
      </mat-form-field>
    </div>
  </div>
</div>