.mat-elevation-z8{
  width: calc(100% - 28px);
  margin: 14px;
}
table {
  width: 100%;
}
.mat-column-select {
  overflow: initial;
  width: 68px !important;
}
.mat-column-title{
  width: 50% !important;
}
.mat-column-title a{
  cursor: pointer;
}
.mat-column-username{
  width: 100px !important;
}
.mat-header-cell:not(:first-of-type){
  text-align: center;
}
.board-options{
  
}
.board-options .search{
  text-align: center;
}
.board-options .search mat-radio-group{
  vertical-align: middle;
  margin: 0 0.2rem;
}
mat-radio-group > mat-radio-button{
  margin: 0 0.4rem;
}
.board-options .search mat-form-field{
  vertical-align: middle;
  margin: 0 0.2rem;
}
mat-toolbar .spacer{
  flex: 1 1 auto;
}